@import "variables";
@import "mixins";

.address{
	width:@block_width;
	display:block;
	clear:both;
	line-height:1.1em;
	.name,.address,.room,.hint{
		display:block;
	}
}

@media all and (min-width: @size_tablet) {
	.address{
		float:left;
		clear:none;
	}
}

