.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.address {
  line-height: 1.2em;
}
.address .address,
.address .room,
.address .hint {
  display: block;
}
