@import "variables";
@import "mixins";

.list .filters{
	display:block;
	float:left;
	width:@block_width/2;
}

.list .pagnate{
	background-color:lighten(@secondary_color,15);
	clear:both;
	display:block;
	width:inherit;
	text-align:right;
	padding:@space_size/2 @space_size;
}