
.attachment{
	display:block;
	.entry-title{
		a{
			.link_mix(@link_color);
		}
	}
	i{
		display:block;
		float:left;
		width:20px;
		height:18px;
		margin-right:@space_size;
		background-color:transparent;
		background-repeat:no-repeat;
		background-position:-60px 0px;
		background-image:url('../i/sfhiv_icon_set.png');
	}
	&:hover,&.hover{
		i{
			background-position:-60px -40px;
		}
	}
	.description{
		display:block;
		clear:both;
		color:@secondary_color;
		font-size:@small_font_size;
		font-style:italic;
	}
	&.mime-applicationmsword{
		
	}
	.entry-navigation{
		border:0;
	}
}

.short{
	.attachments{
		.menu_mix();
		display:block;
		li{
			display:block;
			float:left;
			clear:none;
			width:@block_width - @space_size * 4;
			margin:@space_size 0px;
			margin-right:@space_size*2;
			border-top:0px;
		}
	}
}