#site-title{
	background-color:transparent;
	
	a{
		display:block;
		position:relative;
		background-color:transparent;
		background-image:url("../i/site-title.png");
		background-repeat:no-repeat;
		background-position:0px 0px;
		height:113px;
		width:382px;
		overflow:hidden;
		text-indent:3000em;
		i{
			display:none;
		}
	}
}
#site-description{
	display:block;
	position:absolute;
	top:15px;
	right:0px;
	text-align:right;
	color:@text_color;
	font-size:@big_font_size;
	line-height:1.2em;
	font-style:italic;
}
.brand-container{
	position:relative;
	margin-top:@space_size*4;
}

@media all and (max-width: @size_large) {

}
@media all and (max-width: @size_medium) {

}
@media all and (max-width: @size_tablet) {

}

