#site-title{
	background-color:transparent;
	
	a{
		display:block;
		position:relative;
		background-color:transparent;
		background-image:url("../i/site-title.png");
		background-repeat:no-repeat;
		background-position:0px 0px;
		height:113px;
		width:382px;
		overflow:hidden;
		text-indent:3000em;
		i{
			display:none;
		}
	}
}
#site-description{
	display:block;
	position:absolute;
	top:15px;
	right:0px;
	text-align:right;
	color:@text_color;
	font-size:@big_font_size;
	line-height:1.2em;
	font-style:italic;
}

#branding{
	background-image:url('../i/sf_seal_bg_large.jpg');
	background-repeat:no-repeat;
	background-position:30px 0px;	
	.inner{
		background-image:url('../i/white-gradient-up-50.png');
		background-repeat:repeat-x;
		background-position:center bottom;
		position:relative;
		height:100%;
	}
	.brand-container{
		position:relative;
		margin-top:@space_size*3;
		margin-bottom:@space_size*10;
	}
	.divider-flush{
		padding-top:0px;
		height:9px;
		width:100%;
		position:absolute;
		bottom:0px;
		left:0px;
	}
}

#access{
	position:absolute;
	bottom:9px;
	width:100%;
}


@media all and (max-width: @size_large) {
	#site-title{
		background-color:transparent;
		a{
			background-image:url("../i/site-title-small.png");
			height:59px;
			width:200px;
		}
	}
	#site-description{
		top:5px;
		font-size:@font_size;
	}
	#branding{
		background-position:-100px 0px;
	}
}
@media all and (max-width: @size_medium) {
	#branding{
		background-position:-200px 0px;
		.brand-container{
			margin-top:@space_size*3;
			margin-bottom:@space_size*2;
		}
	}
}
@media all and (max-width: @size_tablet) {
	#branding{
		background-image:none;
		.brand-container{
			margin:@space_size @space_size*2 @space_size*2;
		}
	}
	#site-title{
		background-color:transparent;
		a{
			background-image:url("../i/site-title-small.png");
			height:59px;
			width:200px;
		}
	}
	#site-description{
		position:static;
		text-align:left;
	}
}

