#content header{
	padding-bottom:@space_size*2;
}

#content header h1.entry-title{
	float:left;
}

.entry-navigation{
	clear:both;
	a{
		padding:0px @space_size 0px 0px;
		display:block;
		float:left;
	}
	.post-edit-link{
		float:right;
	}
}


#content .entry-toc{
	clear:none;
	float:right;
	width:@block_width - @space_size*2;
	background:transparent url('../i/white70.png') repeat top left;
	a{
		padding:@space_size/2;
		margin:0px;
		display:block;
		clear:both;
		float:none;
		text-align:right;
	}
	&.top{
		clear:none;
	}
}

#content .entry-navigation.sticky.fixed{
	position:static;
}
@media all and (min-width: @size_tablet) {
	#content .entry-navigation.sticky.fixed{
		position:fixed;
		top:0px;
	}	
}

.entry-content{
	h1,h2,h3,h4,h5,h6{
		font-family:@main_font;
	}
	h1{
		font-size:@biggest_font_size;
	}
	h2{
		font-size:@big_font_size;
	}
	h3{
		font-size:@font_size;
		font-weight:bold;
	}
	h4{
		font-size:@font_size;
		font-weight:bold;
		color:@text_color;
	}
}

.entry-content{
	padding:0px;
	clear:both;
	img,.wp-caption{
		&.aligncenter{
			display:block;
			width:auto;
			margin:0px auto @space_size;
			padding:@space_size @space_size*2 @space_size/2;
			border-top:@border_width @text_color solid;
			border-bottom:@border_width @text_color solid;
			text-align:center;
			img{
				display:block;
				border:0px;
				margin:@space_size/2 0px;
			}
		}
	}
}
.meta{
	display:block;
	clear:both;
	font-size:@small_font_size;
	color:@text_color;
	border-top:@border_width @secondary_color solid;
	background:#FFF;
	padding:@space_size @space_size*3;
}

.entry-meta{
	
}

.plateau{
	background-color:@white;
	border:@border_width @secondary_color solid;
	padding:0px @space_size*2;
	margin:@space_size/2 @space_size*3;
}

.well{
	background-color:@light_secondary_color;
	padding:@space_size @space_size * 4;
	margin:@space_size/2 0px;
}

