.contact-form,.wpcf7{
	padding-top:@space_size;
	br{
		display:block;
		height:1px;
	}
	.error,.wpcf7-not-valid-tip{
		display:block;
		width:@block_width - @space_size*4;
		position:static;
	}
	.row{
		margin-left:0px;
	}
	.submit-button,.wpcf7-submit{
		width:@block_width;
		color:#FFF;
		display:block;
	}
	input,textarea{
		display:block;
		width:98%;
	}
	.wpcf7-list-item{
		margin:0px;
		margin-bottom:@space_size;
	}
	.wpcf7-checkbox,.wpcf7-radio{
		input{
			float:left;
			display:block;
			width:auto;
		}
		.wpcf7-list-item-label{
			margin-left:@space_size/2;
		}
	}
	.wpcf7-submit{
		font-size:@big_font_size;
		font-weight:bold;
		padding:@space_size 0px;
		width:@block_width;
		background-color:@highlight_color;
		&.center{
			margin:0px auto;
		}
	}

}