@import "variables";
@import "mixins";

.date,.time{
	display:block;
	color:@secondary_color;
}

.list-item .date{
	display:inline;
}

.date-block,.time-block{
	display:block;
	float:left;
	width:@block_width/2 - @space_size/2;
	margin:@space_size @space_size/2 @space_size 0px;
}

.date-block {
	border-radius:5px;
	line-height:1em;
	color: #FFF;
	background:@highlight_color;
	text-align:center;
	padding:@space_size/2 0px;
	span{
		display:block;
		margin:@space_size/2 @space_size;
	}
}
.past .date-block{
	color:@text_color;
	background:lighten(@secondary_color,10%);
}
.time-block{
	line-height:1em;
	width:@block_width/2 - @space_size*3;
	padding:0px @space_size;
	.start,.end{
		font-weight:bold;
	}
	.start{
		display:block;
	}
}

.date-calendar{
	display:block;
	float:left;
	width:@space_size * 10;
	background-color:transparent;
	border:1px @secondary_color solid;
	color:@text_color;
	padding:0px;
	margin-right:@space_size/2;
	font-size:@small_font_size;
	span{
		padding:@space_size/2;
	}
	.date-number{
		font-size:@big_font_size;
	}
	.today,.month,.year{
		background-color:@highlight_color;
		color:@white;
		margin:0px;
	}
}
a .date-calendar{
	text-decoration:none;
}

.list-item .date-calendar{
	margin-top:0px;
}
