@import "variables";
@import "mixins";

@media all and (min-width: @size_tablet) {
	.sfhiv_document.short .entry-content{
		display:block;
		float:left;
		width:@block_width * 1.5 - @space_size;
		padding:@space_size/2;
		clear:none;
	}
}
@media all and (min-width: @size_large) {
	.sfhiv_document.short .entry-content{
		width:@block_width * 2.5 - @space_size;
	}
}