.clear{
	display:block;
	clear:both;
	width:100%;
	line-height:0px;
	height:0px;
}


#page{
	display:block;
	width:@block_width + @space_size*2;
	margin:0px auto;
	padding:0px 0px;
	background-color:#FFF;
	position:relative;
	box-shadow:#666 0px 0px @space_size;
}
@media all and (min-width: @size_tablet) {
	#page{
		width:@block_width*2 + @space_size * 2;
	}	
}
@media all and (min-width: @size_medium) {
	#page{
		width:@block_width*3 + @space_size * 4;
	}
}
@media all and (min-width: @size_large) {
	#page{
		width:@block_width*4  + @space_size * 8;
	}
}

.pretty-top{
	.divider();
}

.container{
	.section();
	margin:0px auto;
	width:@block_width;
}
@media all and (min-width: @size_tablet) {
	.container{
		width:@block_width*2;
	}	
}
@media all and (min-width: @size_medium) {
	.container{
		width:@block_width*3;
	}
}
@media all and (min-width: @size_large) {
	.container{
		width:@block_width*4;
	}
}

#site-title{
	background-color:transparent;
	background-image:url("../i/background-orange.png");
	background-repeat:repeat;
	background-position:top left;
	a{
		display:block;
		position:relative;
		background-color:transparent;
		background-image:url("../i/site-title-small.png");
		background-repeat:no-repeat;
		background-position:10px 20px;
		height:80px;
		overflow:hidden;
		text-indent:3000em;
		i{
			display:none;
		}
	}
}
#site-description{
	display:block;
	color:@text_color;
	font-size:@font_size;
	line-height:1.2em;
	font-style:italic;
	font-size:@small_font_size;
	text-shadow:1px 1px 6px #FFF;
}
#branding{
	.inner{
		background-image:url('../i/white-gradient-up-50.png');
		background-repeat:repeat-x;
		background-position:center bottom;
		position:relative;
		height:100%;
		hgroup{
			margin-bottom:16px;
		}
		.divider-flush{
			padding-top:0px;
			height:9px;
			width:100%;
			position:absolute;
			bottom:0px;
			left:0px;
		}
		#access{
			position:absolute;
			bottom:9px;
			width:100%;
		}
	}
}
@media all and (min-width: @size_tablet) {
	#branding{
		background-image:url('../i/sf_seal_bg_large.jpg');
		background-repeat:no-repeat;
		background-position:-120px 0px;
	}
	#site-title{
		float:left;
		width:@block_width;
		margin-right:@space_size;
		a{
			background-position:10px 100px;
			height:162px;
		}
	}
	#site-description{
		padding-top:100px;
	}
	.top-header-image{
		#site-title a{
			background-position:22px 20px;
			height:75px;
		}
		#site-description{
			padding-top:0px;
		}
	}
}
@media all and (min-width: @size_medium) {
	#branding{
		background-position:-100px 0px;
		.inner{
			hgroup{
				margin-bottom:55px;	
			}
			#access{
				height:40px;
				overflow:hidden;
			}
		}
	}
	#site-description{
		padding-top:95px;
		text-align:right;
		font-size:@big_font_size;
		font-style:none;
	}
	#branding.top-header-image{
		#site-description{
			padding-top:0px;
		}
	}
}
@media all and (min-width: @size_large) {
	#branding{
		background-position:120px 0px;
		#site-title{
			width:382px;
			float:left;
			a{
				background-image:url("../i/site-title.png");
				background-position:60px 10px;
				i{
					display:block;
					width:100%;
					height:100%;
					text-indent:3000em;
					position:absolute;
					top:0px;
					left:0px;
					background-color:transparent;
					background-image:url('../i/home_icon.png');
					background-repeat:no-repeat;
					background-position:24px 130px;
					&:hover{
						background-image:url('../i/home_icon_hover.png');
					}
				}
			}
		}
		.inner{
			hgroup{
				margin-bottom:70px;	
			}
			#access{
				height:45px;
			}
		}
	}
	#site-description{
		padding-top:75px;
		text-align:right;
		font-size:@big_font_size;
		font-style:none;
	}
	#branding.top-header-image{
		#site-title a{
			background-position:80px -61px;
			height:75px;
			i{
				background-position:24px 58px;
			}
		}
		#site-description{
			padding-top:0px;
		}
	}
}

#section-top{
	display:block;
	clear:both;
}
@media all and (min-width: @size_tablet) {
	#section-top{
		display:block;
		width:@block_width;
		clear:none;
		float:right;
		font-size:@font_size;
		line-height:1.2em;
		font-family:@title_font;
		font-weight:300;
		.widget{
			margin-top:@space_size;
			margin-left:@space_size;			
		}
	}
}
@media all and (min-width: @size_medium) {
	#section-top{
		width:@block_width*2;
		text-align:right;
		font-size:@big_font_size;
		line-height:1.2em;
		.widget{
			margin-left:@space_size*2;
		}
	}
}
@media all and (min-width: @size_large) {
	#section-top{
		width:@block_width*4 - 382px;
	}
}

#access{
	.section();
	display:none;
	.menu{
		.menu_mix();
		padding:@space_size 0px;
		clear:both;
		.menu-item{
			display:block;
			float:left;
			width:auto;
			padding:@space_size @space_size*2;
			font-family:@title_font;
			font-weight:300;
			font-size:@big_font_size;
			margin:0px;
			.sub-menu{
				display:none;
			}
			color:@text_color;
			a,a:visited{
				color:@text_color;
				text-decoration:none;
				display:block;
				margin:0px;
				padding:0px;
				text-shadow:1px 1px 3px #FFF;
			}
			a:hover{
				color:lighten(@text_color,15%);
			}
			&.current-menu-item,&.current-page-ancestor{
				background-color:transparent;
				background-image:url("../i/background-orange.png");
				background-repeat:repeat;
				background-position:top left;
				color:#FFF;
				a,a:visited,a:hover{
					color:#FFF;
					text-shadow:0px 0px 0px #FFF;
				}
			}
		}
	}
}
@media all and (min-width: @size_medium) {
	#access{
		display:block;
		.menu{
			.menu-item{
				padding:@space_size @space_size*3;
				font-size:@big_font_size;
			}
		}
	}
}
@media all and (min-width: @size_large) {
	#access{
		.menu{
			.menu-item{
				padding:@space_size @space_size*4;
				font-size:@big_font_size;
			}
		}
	}
}

#status-warning{
	background-color:#fdf1af;
	span{
		display:block;
		text-align:center;
		margin:@space_size 0px 0px;
	}
	&.draft{
		background-color:lighten(@secondary_color,15);
	}
}

.subtitle{
	display:block;
	line-height:0.8em;
}
.preview-bottom .subtitle{
	font-style:italic;
	display:inline;
}

#content{
	margin:0px;
	padding:0px;
	header{
		padding-top:0px;
	}
	h1.entry-title{
		font-family:@title_font;
		font-size:@biggest_font_size;
		font-weight:300;
		color:#FFF;
		background:@text_color;
		display:block;
		width:@block_width - @space_size*2;
		margin:0px;
		padding:@space_size*4 @space_size @space_size;
	}
}

@media all and (min-width: @size_tablet) {
	#content,.list,.main-column{
		width:@block_width*2;
	}
	#content{
		h1.entry-title{
			width:@block_width;
		}
		.list,.main-column{
			width:auto;
			float:none;
			clear:both;
			margin-left:0px;
		}
	}
}
@media all and (min-width: @size_large) {
	#content{
		h1.entry-title{
			width:382px;
		}
	}
}

@media all and (min-width: @size_medium) {
	#main{
		background-image:url('../i/background-line.gif');
		background-repeat:repeat-y;
		background-position:@block_width - @space_size 0px;
	}
	#content,.list,.main-column{
		width:@block_width*2;
		float:right;
		clear:none;
		.list{
			width:auto;
			margin:0px;
			float:none;
		}
	}
	.filters .filter{
		float:left;
		padding:@space_size 0px;
	}
	.filters.menu{
		padding:@space_size 0px;
		li{
			display:block;
			float:left;
			margin-right:@space_size*2;
		}
	}
	.sidebar{
		display:block;
		width:@block_width;
		float:left;
		clear:left;
	}
	.page-template-full-width-page-php,.page-template-splash_page_nosidebar-php{
		#main{
			background-image:none;
		}
		#content,.list{
			width:auto;
			float:none;
			clear:both;
			margin-left:0px;
		}
	}
}

@media all and (min-width: @size_large) {
	#content,.list,.filters,.main-column{
		width:@block_width*3;
		.list,.filters,.main-column{
			width:auto;
		}
	}
}


.list{
	.menu_mix();
	position:relative;
	.list-title{
		margin-top:@space_size*2;
		clear:both;
	}
	.list-heading{
		padding:@space_size @space_size*2 @space_size;
		font-size:@big_font_size;
		color:@text_color;
		border-top:@secondary_color @border_width*3 solid;
	}
}
.list-item,.short{
	position:relative;
	clear:both;
	margin:0px 0px @space_size;
	.entry-title{
		font-size:@big_font_size;
		padding:@space_size/2 0px @space_size;
		background-color:transparent;
	}
	.entry-content{
		display:block;
	}
	nav{
		display:block;
		clear:both;
	}
}
.short{
	margin:@space_size 0px;
	padding-bottom:@space_size;
	border-bottom:@border_width @secondary_color solid;
}
.list-item{
	a .date{
		margin-top:0px;
		margin-bottom:0px;
	}
	a{
		clear:both;
	}
}

.categories{
	display:block;
	clear:both;
	margin:0px 0px @space_size/2;
	font-size:@small_font_size;
	h4{
		color:@text_color;
		display:block;
		float:left;
		margin:0px @space_size 0px 0px;
		padding:@space_size/2 0px;
		font-size:@small_font_size;
	}
	li{
		display:block;
		float:left;
		border:1px solid @secondary_color;
		border-radius:5px;
		margin:0px @space_size/2 @space_size/2 0px;
		padding:@space_size/2 @space_size;
	}
	&.populations{
		li{
			border:0px;
			color:@text_color;
			background-color:lighten(@secondary_color,15);
		}
	}
}

.divider{
	.divider_mix();
}
.divider-flush{
	.divider_mix();
	margin-top:0px;
	margin-bottom:0px;
}

.two-column,.three-column{
	.section();
	position:relative;
	border-top:@border_width @secondary_color solid;
	display:block;
	background-color:#FFF;
	.divider{
		.divider_mix();
	}
	article,.widget{
		width:@block_width;
		height:@space_size*10;
		overflow:hidden;
		display:block;
		margin:0px;
		padding:0px 0px;
		.entry-header{
			margin:0px;
			padding:0px;
			width:auto;
		}
		.entry-title,.entry-content,nav{
			margin:0px @space_size @space_size;
		}
		.entry-title,.widgettitle{
			border-top:@border_width @text_color solid;
			border-bottom:@border_width @text_color solid;
			padding:@space_size @space_size*2;
			margin:@space_size;
			font-weight:300;
			font-size:@big_font_size;
		}
		.list .entry-title{
			font-size:@font_size;
			border:0px;
			margin:0px;
			padding:0px;
		}
		nav{
			.menu{
				.menu_mix();
				.children{
					padding-left:1em;
				}
				.menu-item,li{
					clear:both;
				}
			}
		}
		.preview-bottom{
			display:block;
			clear:both;
			width:auto;
			line-height:1em;
			text-align:right;
			padding:@space_size*2;
			margin-bottom:0px @space_size*2 @space_size;
		}
	}
}
@media all and (min-width: @size_tablet) {
	.two-column,.three-column{
		background-image:url('../i/background-line.gif');
		background-repeat:repeat-y;
		background-position:center center;
		article,.widget{
			float:left;
		}
	}
}
@media all and (min-width: @size_medium) {
	.two-column,.footer.two-column{
		background-image:url('../i/background-line.gif');
		background-position:@block_width*3/2 0;
		article,.widget{
			width:@block_width*3/2;
			float:left;
		}
	}
	.three-column,.footer.three-column{
		background-image:url('../i/splash-back-medium.gif');
		background-position:-1px 0px;
		article,.widget{
			width:@block_width*3/3;
			float:left;
		}
	}
}
@media all and (min-width: @size_large) {
	.two-column,.footer.two-column{
		article,.widget{
			width:@block_width*4/2;
		}
	}
	.three-column,.footer.three-column{
		background-image:url('../i/splash-back-large.gif');
		article,.widget{
			width:@block_width*4/3;
		}
	}
}

#bottom{
	background-color:#FFF;
	color:@secondary_text_color;
	font-size:@small_font_size;
	background-position:0px @space_size;
	border-top:1px @secondary_color solid;
}

#bottom .footer.first{
	margin-top:@space_size*2 + 9;
}

.footer{
	background:#FFF;
	color:@secondary_text_color;
	font-size:@font_size;
	.section();
	border-top:1px @secondary_color solid;
	padding:0px;
	.menu{
		.menu_mix();
		text-align:left;
		.menu-item{
			display:block;
			a,a:visited{
				color:@text_color;
				text-decoration:none;
				&:hover{
					color:lighten(@text_color,15%);
				}
			}
			&.current-menu-item{
				a,a:visited,a:hover{
					color:@highlight_color;
				}
			}
		}
	}
	section{
		display:block;
		float:none;
		clear:both;
		width:auto;
		padding-top:@space_size;
		&.thin{
			font-size:@small_font_size;
		}
	}
}
@media all and (min-width: @size_medium) {
	.footer{
		.menu{
			text-align:left;
			.menu-item{
				float:left;
				padding:0px @space_size*2;
				margin:0px;
				a{
					padding:0px;
					margin:@space_size 0px;
				}
			}
		}
	}
}

.footer.small{
	font-size:@small_font_size;
}

.sfseal,.footer .sfseal{
	display:block;
	background-color:#FFF;
	background-image:url('../i/sf_seal_bw_200.jpg');
	background-repeat:no-repeat;
	background-position:center @space_size*2;
	padding-top:200px + @space_size*3;
	padding-bottom:@space_size;
	min-height:200px;
}
@media all and (min-width: @size_medium) {
	.sfseal,.footer .sfseal{
		background-position:@space_size @space_size*2;
		padding-top:@space_size*2;
		padding-left:@block_width;
	}
}