@import "variables";
@import "mixins";

#searchform{
	font-family:@main_font;
	font-size:@font_size;
	margin:@space_size/2 0px;
	display:block;
	position:relative;
	width:@block_width - @space_size*2;
	clear:both;
	input[type=text]{
		display:block;
		float:left;
		width:@block_width - @space_size*8;
	}
	#searchsubmit{
		display:block;
		float:left;
		text-indent:-9999px;
		text-transform: capitalize;
		overflow:hidden;
		width:21px;
		height:28px;
		border:0px;
		margin:0px 3.5px;
		padding:0px;
		border:0px;
		background-color:@secondary_color;
		background-repeat:no-repeat;
		background-position:-128px -35px;
		background-image:url('../i/sfhiv_icon_set.png');
	}
}

#access .search-form-item{
	display:block;
	float:left;
	width:auto;
	#searchform{
		width:auto;
		margin:0px;
		padding:0px @space_size;
		input[type=text]{
			display:none;
		}
		#searchsubmit{
			background-color:transparent;
			box-shadow:0px 0px 0px;
			background-position:-128px -40px;
		}
		&.open{
			input[type=text]{
				display:block;
				width:120px;
			}
			#searchsubmit{
				background-color:@secondary_color;
			}
		}
	}
}