@import "variables";

.sfhiv_service,.sfhiv_service_hour{
	.entry-title{
		font-size:@font_size;
		color:@link_color;
	}
	.day{
		display:block;
		border-radius:5px;
		background-color:@highlight_color;
		color:@white;
		margin:0px;
		padding:@space_size/2 @space_size;
	}
}