.sfhiv_service,.sfhiv_service_hour{
	.day{
		display:block;
		width:@block_width/2;
		text-align:center;
		border-radius:5px;
		background-color:@highlight_color;
		color:@white;
		margin:0px;
		padding:@space_size 0px;
	}
	.populations li{
		border:0px;
		color:@text_color;
		background-color:lighten(@secondary_color,15);
	}
	.categories{
		float:left;
		clear:both;
		width:@block_width/2 - @space_size;
		h4,li{
			float:none;
		}
	}
	&.short{
		.categories{
			margin:0px;
			padding:@space_size/2 0px 0px;
			width:auto;
			float:left;
			display:block;
			h4,li{
				float:left;
			}
			&.populations{
				width:auto;
			}
		}
	}
}

.services-list .service-list-item{
	display:block;
	clear:both;
}

.service-time-list .times-list{
	float:left;
	width:@block_width;
}

.service-time-list .sfhiv_service_hour{
	margin-bottom:@space_size/2;
}

.service-time-list .sfhiv_service_hour .day{
	margin-bottom:@space_size/2;
}

@media all and (min-width: @size_large) {
	.sfhiv_service_hour{
		.address{
			width:@block_width * 3/4;
		}
		.categories.populations{
			width:@block_width * 3/4 - @space_size;
		}
	}
}

@media all and (min-width: @size_medium) {
	.sfhiv_service,.sfhiv_service_hour{
		.list{
			float:left;
			display:block;
			clear:both;
			width:@block_width*2 + @space_size*2;
		}
	}
}

.sfhiv_service_hour.short{
	.info-service{
		margin-bottom:@space_size;
	}
}

.services-list .service-list-item{
	margin-top:@space_size;
}

#main .sfhiv_provider{
	.entry-title{
		font-size:@font_size;
		line-height:@font_size;
		color:@text_color;
	}
}
