@import "variables";
@import "mixins";

.list{
	.sfhiv_service{
		position:relative;
		.relationships{
			.menu_mix();
			ul{
				margin-bottom:@space_size;
			}
			li.group{
				padding:@space_size;
				text-align:center;
				img{
					display:block;
					margin:@space_size/2 auto;
				}
			}
		}
	}	
}
@media all and (min-width: @size_medium) {
	.list,#main .list,#main #primary .list{
		.sfhiv_service,.sfhiv_service.list-item{
			padding-right:@block_width/2 + @space_size;
			.relationships{
				position:absolute;
				width:@block_width/2 - @space_size;
				top:0px;
				right:0px;
				li{
					display:block;
					border-bottom:@border_width @secondary_color solid;
					padding:@space_size/2 0px @space_size/2;
					margin-bottom:0px;
				}
			}
		}	
	}
}

.sfhiv_service_hour{
	.days{
		.menu_mix();
		color: #FFF;
		background:@highlight_color;
		padding:@space_size @space_size*2;
		li{
			margin-bottom:@space_size/2;
		}
	}
	.time{
		padding:@space_size @space_size*2;
		span{
			display:block;
			font-weight:bold;
			.label{
				float:left;
				padding:0px @space_size 0px 0px;
				font-weight:normal;
				font-size:@small_font_size;
			}
		}
	}
	.service_categories,.population_categories{
		margin:0px;
		padding:0px;
		clear:both;
		li{
			display:block;
			float:left;
			margin:0px @space_size 0px 0px;
			padding:0px;
			list-style-type:none;
		}
	}
	nav{
		clear:both;
	}
	.address.line{
		display:block;
	}
}
@media all and (min-width: @size_tablet) {
	.list,#main .list{
		.sfhiv_service_hour,.sfhiv_service_hour.list-item{
			.day_time{
				float:left;
				width:@block_width/2 - @space_size;
				margin-right:@space_size;
			}
			.location{
				float:left;
			}
		}
		.category-list{
			clear:both;
			position:relative;
			h3{
				font-family:@main_font;
				color:@highlight_color;
				font-weight:normal;
				display:block;
				float:left;
				text-align:right;
				margin-right:@space_size;
				padding:0px;
				width:@block_width/2 - @space_size;
			}
			ul,.service_categories,.population_categories{
				clear:none;
			}
		}
	}
}
@media all and (min-width: @size_large) {
	.list,#main .list{
		.sfhiv_service_hour,.sfhiv_service_hour.list-item{
			.day_time{
				width:@block_width;
				margin-right:@space_size;
				.days{
					float:left;
					width:@block_width/2  - @space_size*5;
					margin-right:@space_size;
				}
				.time{
					float:left;
					padding:@space_size 0px;
					width:@block_width/2;
					margin:0px;
				}
			}
		}
	}
}