@import "variables.less";
@import "mixins.less";
@import "../../bootstrap/less/carousel.less";

@carouselHeight:400px;

.carousel{
	margin-bottom:0px;
}

.carousel-inner{
	display:block;
	clear:both;
	height:@carouselHeight + @space_size*2;
	padding:0px;
	margin:@space_size 0px;
	border-top:@border_width @secondary_color solid;
	border-bottom:@border_width @secondary_color solid;
}

.carousel .item{
	position:relative;
	height:@carouselHeight;
	margin:@space_size 0px;
	.slider-image{
		display:block;
		position:absolute;
		top:0px;
		left:0px;
		width:@block_width * 4 - @block_width * 5 / 3;
		height:@carouselHeight;
		background-position:center center;
		background-repeat:no-repeat;
	}
	.slider-item-container{
		position:absolute;
		top:0px;
		right:0px;
		width:@block_width * 5 / 3;
		background-color:@text_color;
		background-image:url('../i/slider-content-gradient.png');
		background-repeat:no-repeat;
		background-position:center top;
		height:@carouselHeight;
		a{
			color:#FFF;
		}
		.entry-header{
			h1,h2,h3{
				&.entry-title{
					margin:@space_size*4 @space_size*2 0px;
					font-size:@biggest_font_size;
					color:#FFF;
					a{
						color:#FFF;
						text-decoration:none;
					}					
				}
			}
		}
		.entry-content{
			margin:@space_size @space_size*2;
			color:#FFF;
			font-size:@big_font_size;
		}
	}
}