@import "variables.less";
@import "mixins.less";
@import "../../bootstrap/less/carousel.less";

@carouselHeight:400px;

.carousel{
	margin-bottom:0px;
}

.carousel-inner{
	display:block;
	clear:both;
	height:@carouselHeight;
	padding:0px;
	margin:@space_size 0px;
	border-top:@border_width @secondary_color solid;
	border-bottom:@border_width @secondary_color solid;
}

.carousel-control{
	background-image:url('../i/btn-carousel-next.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-color:transparent;
	width:50px;
	height:50px;
	opacity:1;
	border:0px;
	border-radius:0px;
	overflow:hidden;
	text-indent:3000em;
	&:hover{
		background-position:-50px 0px;
	}
	&.right{
		right:-28px;
	}
	&.left{
		left:-28px;
		background-image:url('../i/btn-carousel-prev.png');
	}
}

.carousel .item{
	position:relative;
	height:@carouselHeight;
	margin:0px;
	.slider-image{
		display:none;
	}
	.slider-item-container{
		position:absolute;
		top:0px;
		right:0px;
		width:@block_width;
		background-color:#FFF;
		border-left:@border_width @secondary_color solid;
		height:@carouselHeight;
		.entry-header{
			border-top:@text_color @border_width solid;
			border-bottom:@text_color @border_width solid;
			margin:@space_size @space_size;
			h1,h2,h3{
				&.entry-title{
					margin:0px;
					padding:@space_size 0px;
					font-size:@biggest_font_size;
					font-weight:normal;
				}
			}
		}
		.entry-content{
			margin:@space_size @space_size*4 @space_size @space_size*2;
			font-size:@big_font_size;
		}
	}
}

@media all and (min-width: @size_tablet) {
	.carousel .item{
		.slider-image{
			display:block;
			position:absolute;
			top:@space_size;
			left:0px;
			width:@block_width * 4 - @block_width * 5 / 3 - @space_size;
			height:@carouselHeight - @space_size*2;
			background-position:right center;
			background-repeat:no-repeat;
		}
	}
}

@media all and (min-width: @size_large){
	.carousel .item .slider-item-container{
		width:@block_width * 5 / 3;
		.entry-header{
			margin:@space_size @space_size*2;
			h1,h2,h3{
				&.entry-title{
					padding:@space_size*2 0px;
					font-size:@biggest_font_size;
				}
			}
		}
		.entry-content{
			margin:@space_size @space_size*4 @space_size @space_size*2;
			font-size:@big_font_size;
		}
	}
}