@import "../../bootstrap/less/variables.less";


@text_color:#00678c;
@fontColor:#000;
@link_color:#599bb3;
@highlight_color:#df5d2f;
@secondary_color:#BCBCBC;
@secondary_text_color:darken(@secondary_color,15);
@light_secondary_color:lighten(@secondary_color,15);

@block_width:225px;

@border_width:1px;

@size_tablet:500px;
@size_medium:720px;
@size_large:970px;

@space_size:7px;

@small_font_size:12px;
@font_size:14px;
@big_font_size:18px;
@biggest_font_size:28px;

@main_font:arial,sans-serif;
@title_font:'Dosis',verdana,sans-serif;

@iconSpritePath:"../../bootstrap/img/glyphicons-halflings.png";

// Scaffolding
// -------------------------
@bodyBackground:        @white;


// Links
// -------------------------
@linkColor:             @link_color;
@linkColorHover:        darken(@linkColor, 15%);

@highlight_color_hover: darken(@highlight_color, 15%);


// Typography
// -------------------------
@baseFontSize:          @font_size;
@baseFontFamily:        @main_font;
@baseLineHeight:        18px;
@altFontFamily:         @title_font;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor