.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
@media all and (min-width: 800px) {
  .attachment,
  #main #primary .list .list-item.attachment {
    display: block;
    padding-left: 70px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 7px 7px;
  }
  .attachment {
    background-image: url('../i/document_icons/default.png');
  }
  .attachment.mime-applicationmsword {
    background-image: url('../i/document_icons/document.png');
  }
}
