.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.attachment {
  display: block;
  padding-left: 35px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('../i/document_icons/default.png');
}
.attachment .description {
  display: block;
  clear: both;
  color: #bcbcbc;
  font-size: 12px;
  font-style: italic;
}
.attachment.mime-applicationmsword {
  background-image: url('../i/document_icons/document.png');
}
.list.attachments .attachment {
  padding-left: 35px;
}
@media all and (min-width: 530px) {
  .list.attachments .attachment {
    padding-left: 56px;
    background-position: 0px 7px;
    background-image: url('../i/document_icons/default_large.png');
  }
  .list.attachments .attachment.mime-applicationmsword {
    background-image: url('../i/document_icons/document_large.png');
  }
}
.list-item .attachments {
  display: block;
  margin: 0px;
  padding: 0px;
  display: block;
}
.list-item .attachments ul {
  margin: 0px;
  padding: 0px;
}
.list-item .attachments li {
  list-style-type: none;
  line-height: 1em;
}
.list-item .attachments li {
  padding-left: 35px;
  border-top: 0px;
}
