.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.event .date {
  color: #FFF;
  background: #f09938;
  padding: 7px 14px;
}
.event .time {
  padding: 7px 14px;
}
.event .time span {
  display: block;
  font-weight: bold;
}
.event .time span .label {
  float: left;
  padding: 0px 7px 0px 0px;
  font-weight: normal;
  font-size: 10px;
}
@media all and (min-width: 800px) {
  .event,
  #main .event.list-item {
    padding-left: 130px;
    padding-right: 130px;
  }
  .event .event_date_time,
  #main .event.list-item .event_date_time,
  .event .attachments,
  #main .event.list-item .attachments {
    width: 123px;
    position: absolute;
    top: 7px;
  }
  .event .event_date_time,
  #main .event.list-item .event_date_time {
    left: 0px;
  }
  .event .attachments,
  #main .event.list-item .attachments {
    right: 0px;
  }
}
