.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.event .date_time_block,
.sfhiv_event .date_time_block {
  display: block;
}
.event .date,
.sfhiv_event .date {
  color: #FFF;
  background: #f09938;
  margin: 7px 0px;
}
.event .date span,
.sfhiv_event .date span {
  display: block;
  margin: 3.5px 14px;
}
.event .past .date,
.sfhiv_event .past .date {
  color: #2e3c62;
  background: #d6d6d6;
}
.event .time,
.sfhiv_event .time {
  margin: 7px 0px;
}
.event .time span,
.sfhiv_event .time span {
  display: block;
  font-weight: bold;
  margin: 3.5px 7px;
}
.event .time span .label,
.sfhiv_event .time span .label {
  float: left;
  padding: 0px 7px 0px 0px;
  margin: 0px;
  font-weight: normal;
  font-size: 12px;
}
.event .date,
.sfhiv_event .date,
.event .time,
.sfhiv_event .time {
  display: block;
  float: left;
  width: 130px;
}
.event .location,
.sfhiv_event .location {
  display: block;
  clear: both;
}
.event .entry-title,
.sfhiv_event .entry-title,
.event h1.entry-title,
.sfhiv_event h1.entry-title,
.event h2.entry-title,
.sfhiv_event h2.entry-title {
  font-weight: 300;
  padding-bottom: 0px;
}
.event .entry-content,
.sfhiv_event .entry-content {
  clear: left;
}
@media all and (min-width: 530px) {
  .sfhiv_event .date_time_block {
    float: left;
    width: 130px;
  }
  .sfhiv_event .date_time_block .date,
  .sfhiv_event .date_time_block .time {
    margin: 3.5px 0px;
  }
  .sfhiv_event .location {
    display: block;
    clear: none;
    float: left;
    margin-left: 7px;
  }
}
@media all and (min-width: 800px) {
  .sfhiv_event .event_date_time .date,
  .sfhiv_event .event_date_time .time {
    float: left;
  }
}
