.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.event .date,
.sfhiv_event .event_date_time .date {
  color: #FFF;
  background: #f09938;
  padding: 7px 14px;
}
.event .past .date,
.sfhiv_event .event_date_time .past .date {
  color: #2e3c62;
  background: #d6d6d6;
}
.event .time,
.sfhiv_event .event_date_time .time {
  padding: 7px 14px;
}
.event .time span,
.sfhiv_event .event_date_time .time span {
  display: block;
  font-weight: bold;
}
.event .time span .label,
.sfhiv_event .event_date_time .time span .label {
  float: left;
  padding: 0px 7px 0px 0px;
  font-weight: normal;
  font-size: 12px;
}
@media all and (min-width: 800px) {
  .list .event,
  #main .event.list-item,
  #main .list .event.list-item,
  #main #primary .list .event.list-item {
    padding-left: 130px;
    padding-right: 130px;
  }
  .list .event .event_date_time,
  #main .event.list-item .event_date_time,
  #main .list .event.list-item .event_date_time,
  #main #primary .list .event.list-item .event_date_time,
  .list .event .attachments,
  #main .event.list-item .attachments,
  #main .list .event.list-item .attachments,
  #main #primary .list .event.list-item .attachments {
    width: 123px;
    position: absolute;
    top: 7px;
  }
  .list .event .event_date_time,
  #main .event.list-item .event_date_time,
  #main .list .event.list-item .event_date_time,
  #main #primary .list .event.list-item .event_date_time {
    left: 0px;
  }
  .list .event .attachments,
  #main .event.list-item .attachments,
  #main .list .event.list-item .attachments,
  #main #primary .list .event.list-item .attachments {
    right: 0px;
  }
  .sfhiv_event .event_date_time .date,
  .sfhiv_event .event_date_time .time {
    float: left;
  }
}
