.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.clear {
  clear: both;
  width: 100%;
  line-height: 0px;
  height: 0px;
}
#page {
  display: block;
  width: 274px;
  margin: 0px auto;
  padding: 0px 0px;
  background-color: #FFF;
  background-image: url('../i/sf_seal_bg_large.jpg');
  background-repeat: no-repeat;
  background-position: -85px 0px;
  position: relative;
}
@media all and (min-width: 530px) {
  #page {
    width: 534px;
  }
}
@media all and (min-width: 800px) {
  #page {
    width: 808px;
    background-position: 115px 0px;
  }
}
@media all and (min-width: 1100px) {
  #page {
    width: 1096px;
    background-position: 185px 0px;
  }
}
#branding,
#main,
#bottom {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  margin-left: 7px;
  margin-right: 7px;
}
@media all and (min-width: 800px) {
  #branding,
  #main,
  #bottom {
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media all and (min-width: 1100px) {
  #branding,
  #main,
  #bottom {
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }
}
#branding {
  padding: 0px;
}
#branding hgroup {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
}
#branding hgroup #site-title {
  display: block;
  position: relative;
  background-color: transparent;
  background-image: url("../i/site-title-small.png");
  background-repeat: no-repeat;
  background-position: 50px 100px;
  height: 162px;
  overflow: hidden;
}
#branding hgroup #site-title a {
  width: 100%;
  height: 100%;
  text-indent: 3000em;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-image: url('../i/home_icon.png');
  background-repeat: no-repeat;
  background-position: 5px 139px;
}
#branding hgroup #site-title a:hover {
  background-image: url('../i/home_icon_hover.png');
}
#branding hgroup #site-description {
  display: none;
}
@media all and (min-width: 530px) {
  #branding hgroup {
    width: 253px;
    float: left;
  }
}
@media all and (min-width: 1100px) {
  #branding hgroup {
    width: 382px;
    float: left;
  }
  #branding hgroup #site-title {
    background-image: url("../i/site-title.png");
    background-position: 60px 10px;
  }
  #branding hgroup #site-title a {
    background-position: 24px 130px;
  }
}
#section-top {
  display: block;
  clear: both;
}
@media all and (min-width: 530px) {
  #section-top {
    display: block;
    width: 260px;
    clear: none;
    float: right;
    font-size: 14px;
    font-family: 'Oswald', verdana, sans-serif;
    font-weight: 300;
  }
  #section-top .widget {
    margin-top: 7px;
    margin-left: 7px;
  }
}
@media all and (min-width: 800px) {
  #section-top {
    width: 520px;
    text-align: right;
    font-size: 24px;
  }
  #section-top .widget {
    margin-left: 14px;
  }
}
@media all and (min-width: 1100px) {
  #section-top {
    width: 658px;
  }
}
#access {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: none;
}
#access .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  padding: 7px 0px;
  clear: both;
}
#access .menu ul {
  margin: 0px;
  padding: 0px;
}
#access .menu li {
  list-style-type: none;
  line-height: 1em;
}
#access .menu .menu-item {
  display: block;
  float: left;
  width: auto;
  padding: 0px;
  font-family: 'Oswald', verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
  color: #2e3c62;
}
#access .menu .menu-item .sub-menu {
  display: none;
}
#access .menu .menu-item a,
#access .menu .menu-item a:visited,
#access .menu .menu-item a:hover {
  color: #2e3c62;
  text-decoration: none;
  display: block;
  margin: 7px 14px;
}
#access .menu .menu-item.current-menu-item,
#access .menu .menu-item.current-page-ancestor {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
  color: #FFF;
}
#access .menu .menu-item.current-menu-item a,
#access .menu .menu-item.current-page-ancestor a,
#access .menu .menu-item.current-menu-item a:visited,
#access .menu .menu-item.current-page-ancestor a:visited,
#access .menu .menu-item.current-menu-item a:hover,
#access .menu .menu-item.current-page-ancestor a:hover {
  color: #FFF;
}
@media all and (min-width: 800px) {
  #access {
    display: block;
  }
  #access .menu .menu-item {
    font-size: 18px;
  }
  #access .menu .menu-item a,
  #access .menu .menu-item a:visited,
  #access .menu .menu-item a:hover {
    margin: 7px 21px;
  }
}
@media all and (min-width: 1100px) {
  #access .menu .menu-item {
    font-size: 24px;
  }
  #access .menu .menu-item a,
  #access .menu .menu-item a:visited,
  #access .menu .menu-item a:hover {
    margin: 7px 28px;
  }
}
#content {
  margin: 0px;
  padding: 0px;
}
#content header {
  padding-top: 0px;
}
#content h1.entry-title {
  font-size: 28px;
  font-weight: 300;
  color: #FFF;
  background: #2e3c62;
  display: block;
  margin: 0px;
  padding: 28px 7px 7px;
}
@media all and (min-width: 530px) {
  #content,
  .list {
    width: 520px;
  }
  #content h1.entry-title {
    width: 260px;
  }
  #content .list {
    width: auto;
    float: none;
    clear: both;
    margin-left: 0px;
  }
}
@media all and (min-width: 800px) {
  #main {
    background-image: url('../i/background-line.gif');
    background-repeat: repeat-y;
    background-position: 253px 0px;
  }
  #content,
  .list,
  .filters {
    width: 520px;
    float: right;
    clear: none;
  }
  #content .list,
  .list .list,
  .filters .list,
  #content .filters,
  .list .filters,
  .filters .filters {
    width: auto;
    margin: 0px;
  }
  .filters .filter {
    float: left;
    padding: 7px 0px;
  }
  .filters.menu {
    padding: 7px 0px;
  }
  .filters.menu li {
    display: block;
    float: left;
    margin-right: 14px;
  }
  .sidebar {
    display: block;
    width: 260px;
    float: left;
    clear: left;
  }
  .page-template-full-width-page-php #main {
    background-image: none;
  }
  .page-template-full-width-page-php #content,
  .page-template-full-width-page-php .list {
    width: auto;
    float: none;
    clear: both;
    margin-left: 0px;
  }
}
@media all and (min-width: 1100px) {
  #content,
  .list,
  .filters {
    width: 780px;
  }
  #content .list,
  .list .list,
  .filters .list,
  #content .filters,
  .list .filters,
  .filters .filters {
    width: auto;
  }
}
.list .list-heading {
  padding: 7px 14px 7px;
  font-size: 24px;
  color: #2e3c62;
  border-top: #bcbcbc 3px solid;
}
.list .list-item {
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 0px 0px 7px;
}
.list .list-item .entry-title {
  font-size: 18px;
  padding: 7px 0px;
  background-color: transparent;
}
.list .list-item .entry-content {
  display: block;
}
.list .list-item nav {
  display: block;
  clear: both;
}
@media all and (min-width: 530px) {
  .list .list-item .column {
    display: block;
    float: left;
    width: 260px;
  }
  .list .list-item .column.right {
    float: right;
  }
}
.divider {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.two-column,
.three-column {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
  background-color: #FFF;
}
.two-column .divider,
.three-column .divider {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.two-column article,
.three-column article,
.two-column .widget,
.three-column .widget {
  width: 246px;
  display: block;
  margin: 0px;
  padding: 0px 0px;
}
.two-column article .entry-header,
.three-column article .entry-header,
.two-column .widget .entry-header,
.three-column .widget .entry-header {
  margin: 0px;
  padding: 0px;
  width: auto;
}
.two-column article .entry-title,
.three-column article .entry-title,
.two-column .widget .entry-title,
.three-column .widget .entry-title,
.two-column article .entry-content,
.three-column article .entry-content,
.two-column .widget .entry-content,
.three-column .widget .entry-content,
.two-column article nav,
.three-column article nav,
.two-column .widget nav,
.three-column .widget nav {
  margin: 0px 7px 7px;
}
.two-column article .entry-title,
.three-column article .entry-title,
.two-column .widget .entry-title,
.three-column .widget .entry-title,
.two-column article .widgettitle,
.three-column article .widgettitle,
.two-column .widget .widgettitle,
.three-column .widget .widgettitle {
  border-top: 1px #2e3c62 solid;
  border-bottom: 1px #2e3c62 solid;
  font-weight: 300;
  font-size: 18px;
  padding: 7px 0px;
  padding: 7px 14px;
  margin: 7px;
  font-weight: 300;
  font-size: 18px;
}
.two-column article nav .menu,
.three-column article nav .menu,
.two-column .widget nav .menu,
.three-column .widget nav .menu {
  display: block;
  margin: 0px;
  padding: 0px;
}
.two-column article nav .menu ul,
.three-column article nav .menu ul,
.two-column .widget nav .menu ul,
.three-column .widget nav .menu ul {
  margin: 0px;
  padding: 0px;
}
.two-column article nav .menu li,
.three-column article nav .menu li,
.two-column .widget nav .menu li,
.three-column .widget nav .menu li {
  list-style-type: none;
  line-height: 1em;
}
.two-column article nav .menu .children,
.three-column article nav .menu .children,
.two-column .widget nav .menu .children,
.three-column .widget nav .menu .children {
  padding-left: 1em;
}
.two-column article nav .menu .menu-item,
.three-column article nav .menu .menu-item,
.two-column .widget nav .menu .menu-item,
.three-column .widget nav .menu .menu-item {
  clear: both;
}
.two-column article nav .menu .menu-item .date.date,
.three-column article nav .menu .menu-item .date.date,
.two-column .widget nav .menu .menu-item .date.date,
.three-column .widget nav .menu .menu-item .date.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.two-column article nav .menu .menu-item .date.date span,
.three-column article nav .menu .menu-item .date.date span,
.two-column .widget nav .menu .menu-item .date.date span,
.three-column .widget nav .menu .menu-item .date.date span {
  display: block;
}
.two-column article nav .menu .menu-item .date.date span span,
.three-column article nav .menu .menu-item .date.date span span,
.two-column .widget nav .menu .menu-item .date.date span span,
.three-column .widget nav .menu .menu-item .date.date span span {
  display: inline;
}
@media all and (min-width: 530px) {
  .two-column,
  .three-column {
    background-image: url('../i/background-line.gif');
    background-repeat: repeat-y;
    background-position: center center;
  }
  .two-column article,
  .three-column article,
  .two-column .widget,
  .three-column .widget {
    float: left;
  }
}
@media all and (min-width: 800px) {
  .two-column,
  .footer.two-column {
    background-image: url('../i/background-line.gif');
    background-repeat: repeat-y;
    background-position: 390px 0;
  }
  .two-column article,
  .footer.two-column article,
  .two-column .widget,
  .footer.two-column .widget {
    width: 390px;
    float: left;
  }
  .three-column,
  .footer.three-column {
    background-image: url('../i/splash-back-medium.gif');
    background-repeat: repeat-y;
    background-position: center center;
  }
  .three-column article,
  .footer.three-column article,
  .three-column .widget,
  .footer.three-column .widget {
    width: 250.66666666666666px;
    float: left;
  }
}
@media all and (min-width: 1100px) {
  .two-column,
  .footer.two-column {
    background-position: center center;
  }
  .two-column article,
  .footer.two-column article,
  .two-column .widget,
  .footer.two-column .widget {
    width: 499px;
  }
  .three-column,
  .footer.three-column {
    background-image: url('../i/splash-back-large.gif');
    background-position: center center;
  }
  .three-column article,
  .footer.three-column article,
  .three-column .widget,
  .footer.three-column .widget {
    width: 332.6666666666667px;
  }
}
.three-column .widget,
.footer.three-column .widget {
  width: 246px;
  padding: 0px;
}
.three-column .widget_nav_menu .menu,
.footer.three-column .widget_nav_menu .menu {
  height: auto;
}
.three-column .widget_nav_menu .menu-item,
.footer.three-column .widget_nav_menu .menu-item {
  float: none;
  display: block;
  padding: 0px 7px;
}
.three-column .widget_nav_menu .menu-item a,
.footer.three-column .widget_nav_menu .menu-item a {
  border-bottom: 1px #bcbcbc solid;
  color: #918bb3;
  display: block;
  width: auto;
  padding: 7px 0px 3.5px;
}
@media all and (min-width: 1100px) {
  .three-column .widget,
  .footer.three-column .widget {
    width: 332.6666666666667px;
  }
}
.sfseal,
.footer.sfseal {
  background-color: #FFF;
  background-image: url('../i/sf_seal_bw_200.jpg');
  background-repeat: no-repeat;
  background-position: center 14px;
  padding-top: 230px;
}
@media all and (min-width: 800px) {
  .sfseal,
  .footer.sfseal {
    background-position: 14px 14px;
    padding-top: 7px;
    padding-left: 230px;
    min-height: 230px;
  }
}
#bottom {
  background: #FFF;
  color: #bcbcbc;
  font-size: 12px;
}
.footer {
  background: #FFF;
  color: #bcbcbc;
  font-size: 14px;
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 7px 0px;
}
.footer .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer .menu ul {
  margin: 0px;
  padding: 0px;
}
.footer .menu li {
  list-style-type: none;
  line-height: 1em;
}
.footer .menu .menu-item {
  display: block;
}
.footer .menu .menu-item a,
.footer .menu .menu-item a:visited {
  color: #2e3c62;
  text-decoration: none;
}
.footer .menu .menu-item a:hover,
.footer .menu .menu-item a:visited:hover {
  color: #f09938;
  text-decoration: underline;
}
.footer .menu .menu-item.current-menu-item a,
.footer .menu .menu-item.current-menu-item a:visited,
.footer .menu .menu-item.current-menu-item a:hover {
  color: #f09938;
}
@media all and (min-width: 800px) {
  .footer .menu {
    text-align: left;
    height: 14px;
  }
  .footer .menu .menu-item {
    float: left;
    padding: 0px 7px;
    margin: 0px;
  }
}
