.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
#page {
  display: block;
  width: 260px;
  margin: 0px auto;
  padding: 0px 0px;
  background-color: #FFF;
  background-image: url('../i/sf_seal_bg_large.jpg');
  background-repeat: no-repeat;
  background-position: center 0px;
  position: relative;
}
@media all and (min-width: 530px) {
  #page {
    width: 520px;
  }
}
@media all and (min-width: 800px) {
  #page {
    width: 780px;
    background-position: 115px 0px;
  }
}
@media all and (min-width: 1100px) {
  #page {
    width: 1040px;
    background-position: 185px 0px;
  }
}
#branding,
#main,
#bottom {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  margin-left: 7px;
  margin-right: 7px;
}
@media all and (min-width: 800px) {
  #branding,
  #main,
  #bottom {
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media all and (min-width: 1100px) {
  #branding,
  #main,
  #bottom {
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-left: 21px;
    margin-right: 21px;
    width: 998px;
  }
}
.list .list-heading {
  padding: 7px 14px 7px;
  font-size: 24px;
  color: #2e3c62;
  border-top: #bcbcbc 3px solid;
}
.list .list-item {
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 0px 0px 7px;
}
.list .list-item .entry-title {
  font-size: 18px;
  padding: 7px 0px;
  background-color: transparent;
}
.list .list-item .entry-content {
  display: block;
}
.list .list-item nav {
  display: block;
  clear: both;
}
@media all and (min-width: 530px) {
  .list .list-item .column {
    display: block;
    float: left;
    width: 260px;
  }
  .list .list-item .column.right {
    float: right;
  }
}
.two-column,
.three-column {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
  background-color: #FFF;
}
.two-column .divider,
.three-column .divider {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.two-column article,
.three-column article,
.two-column .widget,
.three-column .widget {
  width: 246px;
  display: block;
  margin: 0px;
  padding: 0px 0px;
}
.two-column article .entry-header,
.three-column article .entry-header,
.two-column .widget .entry-header,
.three-column .widget .entry-header {
  margin: 0px;
  padding: 0px;
  width: auto;
}
.two-column article .entry-title,
.three-column article .entry-title,
.two-column .widget .entry-title,
.three-column .widget .entry-title,
.two-column article .entry-content,
.three-column article .entry-content,
.two-column .widget .entry-content,
.three-column .widget .entry-content,
.two-column article nav,
.three-column article nav,
.two-column .widget nav,
.three-column .widget nav {
  margin: 0px 7px 7px;
}
.two-column article .entry-title,
.three-column article .entry-title,
.two-column .widget .entry-title,
.three-column .widget .entry-title,
.two-column article .widgettitle,
.three-column article .widgettitle,
.two-column .widget .widgettitle,
.three-column .widget .widgettitle {
  border-top: 1px #2e3c62 solid;
  border-bottom: 1px #2e3c62 solid;
  font-weight: 300;
  font-size: 18px;
  padding: 7px 0px;
  padding: 7px 14px;
  margin: 7px;
  font-weight: 300;
  font-size: 18px;
}
.two-column article nav .menu,
.three-column article nav .menu,
.two-column .widget nav .menu,
.three-column .widget nav .menu {
  display: block;
  margin: 0px;
  padding: 0px;
}
.two-column article nav .menu ul,
.three-column article nav .menu ul,
.two-column .widget nav .menu ul,
.three-column .widget nav .menu ul {
  margin: 0px;
  padding: 0px;
}
.two-column article nav .menu li,
.three-column article nav .menu li,
.two-column .widget nav .menu li,
.three-column .widget nav .menu li {
  list-style-type: none;
  line-height: 1em;
}
.two-column article nav .menu .children,
.three-column article nav .menu .children,
.two-column .widget nav .menu .children,
.three-column .widget nav .menu .children {
  padding-left: 1em;
}
.two-column article nav .menu .menu-item,
.three-column article nav .menu .menu-item,
.two-column .widget nav .menu .menu-item,
.three-column .widget nav .menu .menu-item {
  clear: both;
}
.two-column article nav .menu .menu-item .date.date,
.three-column article nav .menu .menu-item .date.date,
.two-column .widget nav .menu .menu-item .date.date,
.three-column .widget nav .menu .menu-item .date.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.two-column article nav .menu .menu-item .date.date span,
.three-column article nav .menu .menu-item .date.date span,
.two-column .widget nav .menu .menu-item .date.date span,
.three-column .widget nav .menu .menu-item .date.date span {
  display: block;
}
.two-column article nav .menu .menu-item .date.date span span,
.three-column article nav .menu .menu-item .date.date span span,
.two-column .widget nav .menu .menu-item .date.date span span,
.three-column .widget nav .menu .menu-item .date.date span span {
  display: inline;
}
@media all and (min-width: 530px) {
  .two-column,
  .three-column {
    background-image: url('../i/background-line.gif');
    background-repeat: repeat-y;
    background-position: center center;
  }
  .two-column article,
  .three-column article,
  .two-column .widget,
  .three-column .widget {
    float: left;
  }
}
@media all and (min-width: 800px) {
  .two-column,
  .footer.two-column {
    background-image: url('../i/background-line.gif');
    background-repeat: repeat-y;
    background-position: 390px 0;
  }
  .two-column article,
  .footer.two-column article,
  .two-column .widget,
  .footer.two-column .widget {
    width: 390px;
    float: left;
  }
  .three-column,
  .footer.three-column {
    background-image: url('../i/splash-back-medium.gif');
    background-repeat: repeat-y;
    background-position: center center;
  }
  .three-column article,
  .footer.three-column article,
  .three-column .widget,
  .footer.three-column .widget {
    width: 250.66666666666666px;
    float: left;
  }
}
@media all and (min-width: 1100px) {
  .two-column,
  .footer.two-column {
    background-position: center center;
  }
  .two-column article,
  .footer.two-column article,
  .two-column .widget,
  .footer.two-column .widget {
    width: 499px;
  }
  .three-column,
  .footer.three-column {
    background-image: url('../i/splash-back-large.gif');
    background-position: center center;
  }
  .three-column article,
  .footer.three-column article,
  .three-column .widget,
  .footer.three-column .widget {
    width: 332.6666666666667px;
  }
}
.three-column .widget,
.footer.three-column .widget {
  width: 246px;
  padding: 0px;
}
.three-column .widget_nav_menu .menu,
.footer.three-column .widget_nav_menu .menu {
  height: auto;
}
.three-column .widget_nav_menu .menu-item,
.footer.three-column .widget_nav_menu .menu-item {
  float: none;
  display: block;
  padding: 0px 7px;
}
.three-column .widget_nav_menu .menu-item a,
.footer.three-column .widget_nav_menu .menu-item a {
  border-bottom: 1px #bcbcbc solid;
  color: #918bb3;
  display: block;
  width: auto;
  padding: 7px 0px 3.5px;
}
@media all and (min-width: 1100px) {
  .three-column .widget,
  .footer.three-column .widget {
    width: 332.6666666666667px;
  }
}
