.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.list .member,
.contact .member {
  min-height: 80px;
  position: relative;
  display: block;
  width: auto;
  clear: both;
  margin: 7px 0px;
}
.list .member .avatar,
.contact .member .avatar {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.list .member .info,
.contact .member .info {
  margin-left: 87px;
  display: block;
}
.list .member .info .label,
.contact .member .info .label {
  font-size: 12px;
  display: block;
}
.list .member .name,
.contact .member .name {
  color: #f09938;
  font-weight: bold;
  font-size: 18px;
}
.list .member .title,
.contact .member .title {
  font-weight: bold;
}
@media all and (min-width: 800px) {
  .list .member {
    float: left;
    clear: none;
    width: 246px;
  }
  .list .member.has_contact {
    width: 376px;
  }
  .list .member.has_contact .profile {
    float: left;
  }
  .list .member.has_contact .contact {
    float: left;
    width: 116px;
    margin-left: 14px;
    overflow: hidden;
  }
  .list .member.has_contact .contact .info {
    margin-left: 0px;
  }
}
