.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.list .member {
  position: relative;
  display: block;
  width: auto;
  clear: both;
  margin: 7px 7px 7px 0px;
}
.list .member .info {
  display: block;
  margin-bottom: 3.5px;
}
.list .member .info .label {
  font-size: 12px;
  display: block;
}
.list .member .name {
  color: #f09938;
  font-weight: bold;
  font-size: 18px;
}
.list .member .title {
  font-weight: bold;
}
.list .member .profile .avatar {
  display: block;
  float: left;
  margin: 0px;
  margin-right: 3.5px;
  margin-bottom: 3.5px;
}
.list .member .profile .info {
  margin-bottom: 0px;
}
.list .member .contact {
  clear: both;
}
.contact.list .member {
  margin-right: 0px;
}
@media all and (min-width: 530px) {
  .list .member {
    float: left;
    clear: none;
    width: 246px;
  }
  .contact.list .member {
    float: none;
    width: auto;
  }
  .contact.list .member .profile,
  .contact.list .member .contact {
    width: 253px;
    display: block;
    float: left;
    clear: none;
  }
}
@media all and (min-width: 800px) {
  
}
.contact.list {
  background-image: none;
  padding-top: 7px;
  border-top: 1px #bcbcbc solid;
  border-bottom: 1px #bcbcbc solid;
  margin: 7px 0px;
}
