@import "variables";
@import "mixins";

#mini_archive,#members{
	.member{
		display:block;
		width:125px;
		float:left;
		margin:0em 0.4em 0.4em 0em;
		.name{
			display:block;
			text-align:center;
		}
		.image{
			display:block;
			margin:0.2em auto;
		}
		}
	}
}