.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.list .member {
  min-height: 80px;
  position: relative;
  display: block;
  width: auto;
  clear: both;
  margin: 7px 0px;
}
.list .member .avatar {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.list .member .info {
  margin-left: 87px;
  display: block;
}
.list .member .info .label {
  font-size: 10px;
  display: block;
}
.list .member .name {
  color: #f09938;
  font-weight: bold;
  font-size: 18px;
}
.list .member .title {
  font-weight: bold;
}
@media all and (min-width: 800px) {
  .list .member {
    float: left;
    clear: none;
    width: 246px;
  }
}
