.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.menu {
  display: block;
  margin: 0px;
  padding: 0px;
  padding-bottom: 7px;
  font-size: 14px;
}
.menu ul {
  margin: 0px;
  padding: 0px;
}
.menu li {
  list-style-type: none;
  line-height: 1em;
}
.menu a,
.menu a:visited,
.menu a:hover,
.menu label {
  display: block;
  padding: 3.5px 0px;
  color: #918bb3;
}
.menu .current_page_ancestor,
.menu .current_page_parent,
.menu .current_page_ancestor .children {
  font-size: 14px;
}
.menu .current_page_ancestor a,
.menu .current_page_parent a,
.menu .current_page_ancestor .children a,
.menu .current_page_ancestor label,
.menu .current_page_parent label,
.menu .current_page_ancestor .children label {
  color: #918bb3;
  text-decoration: none;
}
.menu .children,
.menu .current_page_parent .children {
  font-size: 14px;
}
.menu .children a,
.menu .current_page_parent .children a,
.menu .children label,
.menu .current_page_parent .children label {
  background-color: transparent;
  color: #918bb3;
  padding-left: 14px;
  text-decoration: underline;
}
.menu .current_page_item a,
.menu .children .current_page_item a,
.menu .current_page_ancestor .children .current_page_item a,
.menu .current-cat a,
.menu .current_item a,
.menu .current_page_item a:visited,
.menu .children .current_page_item a:visited,
.menu .current_page_ancestor .children .current_page_item a:visited,
.menu .current-cat a:visited,
.menu .current_item a:visited,
.menu .current_page_item a:hover,
.menu .children .current_page_item a:hover,
.menu .current_page_ancestor .children .current_page_item a:hover,
.menu .current-cat a:hover,
.menu .current_item a:hover,
.menu .current_page_item label,
.menu .children .current_page_item label,
.menu .current_page_ancestor .children .current_page_item label,
.menu .current-cat label,
.menu .current_item label {
  background: transparent;
  color: #f09938;
  text-decoration: none;
}
.menu .current_page_item .children a,
.menu .children .current_page_item .children a,
.menu .current_page_ancestor .children .current_page_item .children a,
.menu .current-cat .children a,
.menu .current_item .children a,
.menu .current_page_item .children a:visited,
.menu .children .current_page_item .children a:visited,
.menu .current_page_ancestor .children .current_page_item .children a:visited,
.menu .current-cat .children a:visited,
.menu .current_item .children a:visited,
.menu .current_page_item .children a:hover,
.menu .children .current_page_item .children a:hover,
.menu .current_page_ancestor .children .current_page_item .children a:hover,
.menu .current-cat .children a:hover,
.menu .current_item .children a:hover,
.menu .current_page_item .children label,
.menu .children .current_page_item .children label,
.menu .current_page_ancestor .children .current_page_item .children label,
.menu .current-cat .children label,
.menu .current_item .children label {
  color: #918bb3;
  text-decoration: underline;
}
.sidebar .menu {
  display: block;
  padding-bottom: 21px;
}
.sidebar .menu a,
.sidebar .menu a:visited,
.sidebar .menu a:hover,
.sidebar .menu label {
  border-bottom: 1px solid #bcbcbc;
  padding: 7px 0px;
}
.sidebar .menu .current_page_ancestor a,
.sidebar .menu .current_page_parent a,
.sidebar .menu .current_page_ancestor .children a,
.sidebar .menu .current_page_ancestor label,
.sidebar .menu .current_page_parent label,
.sidebar .menu .current_page_ancestor .children label {
  padding: 3.5px 0px 3.5px 14px;
}
.sidebar .menu .children,
.sidebar .menu .current_page_parent .children {
  font-size: 14px;
}
.sidebar .menu .children a,
.sidebar .menu .current_page_parent .children a,
.sidebar .menu .children label,
.sidebar .menu .current_page_parent .children label {
  padding: 14px 0px 7px;
}
.sidebar .menu .current_page_item a,
.sidebar .menu .children .current_page_item a,
.sidebar .menu .current_page_ancestor .children .current_page_item a,
.sidebar .menu .current-cat a,
.sidebar .menu .current_item a,
.sidebar .menu .current_page_item a:visited,
.sidebar .menu .children .current_page_item a:visited,
.sidebar .menu .current_page_ancestor .children .current_page_item a:visited,
.sidebar .menu .current-cat a:visited,
.sidebar .menu .current_item a:visited,
.sidebar .menu .current_page_item a:hover,
.sidebar .menu .children .current_page_item a:hover,
.sidebar .menu .current_page_ancestor .children .current_page_item a:hover,
.sidebar .menu .current-cat a:hover,
.sidebar .menu .current_item a:hover,
.sidebar .menu .current_page_item label,
.sidebar .menu .children .current_page_item label,
.sidebar .menu .current_page_ancestor .children .current_page_item label,
.sidebar .menu .current-cat label,
.sidebar .menu .current_item label {
  padding-top: 14px;
}
.sidebar .menu .current_page_item .children a,
.sidebar .menu .children .current_page_item .children a,
.sidebar .menu .current_page_ancestor .children .current_page_item .children a,
.sidebar .menu .current-cat .children a,
.sidebar .menu .current_item .children a,
.sidebar .menu .current_page_item .children a:visited,
.sidebar .menu .children .current_page_item .children a:visited,
.sidebar .menu .current_page_ancestor .children .current_page_item .children a:visited,
.sidebar .menu .current-cat .children a:visited,
.sidebar .menu .current_item .children a:visited,
.sidebar .menu .current_page_item .children a:hover,
.sidebar .menu .children .current_page_item .children a:hover,
.sidebar .menu .current_page_ancestor .children .current_page_item .children a:hover,
.sidebar .menu .current-cat .children a:hover,
.sidebar .menu .current_item .children a:hover,
.sidebar .menu .current_page_item .children label,
.sidebar .menu .children .current_page_item .children label,
.sidebar .menu .current_page_ancestor .children .current_page_item .children label,
.sidebar .menu .current-cat .children label,
.sidebar .menu .current_item .children label {
  padding-left: 21px;
}
@media all and (min-width: 800px) {
  .sidebar .menu {
    margin-right: 14px;
  }
}
