.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.sidebar .menu {
  display: block;
  display: block;
  margin: 0px;
  padding: 0px;
  padding-bottom: 21px;
  font-size: 14px;
}
.sidebar .menu ul {
  margin: 0px;
  padding: 0px;
}
.sidebar .menu li {
  list-style-type: none;
}
.sidebar .menu a,
.sidebar .menu a:visited,
.sidebar .menu a:hover {
  display: block;
  border-bottom: 1px solid #bcbcbc;
  padding: 7px 0px;
}
.sidebar .menu .current_page_ancestor,
.sidebar .menu .current_page_parent {
  font-size: 10px;
}
.sidebar .menu .current_page_ancestor a,
.sidebar .menu .current_page_parent a {
  padding-left: 14px;
  color: #918bb3;
  text-decoration: none;
}
.sidebar .menu .current_page_ancestor .children,
.sidebar .menu .current_page_parent .children {
  font-size: 14px;
}
.sidebar .menu .current_page_ancestor .children a,
.sidebar .menu .current_page_parent .children a {
  background-color: transparent;
  padding-left: 0px;
  color: #918bb3;
  text-decoration: underline;
}
.sidebar .menu .current_page_item a,
.sidebar .menu .current_page_item a:visited,
.sidebar .menu .current_page_item a:hover {
  background: transparent;
  color: #f09938;
  text-decoration: none;
  padding-top: 14px;
}
.sidebar .menu .current_page_item .children a,
.sidebar .menu .current_page_item .children a:visited,
.sidebar .menu .current_page_item .children a:hover {
  color: #918bb3;
  padding-left: 21px;
  text-decoration: underline;
}
@media all and (min-width: 800px) {
  .sidebar .menu {
    margin-right: 14px;
  }
}
