.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
#searchform {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 3.5px 0px;
  display: block;
  position: relative;
  width: 246px;
  clear: both;
}
#searchform input[type=text] {
  display: block;
  width: 219px;
}
#searchform #searchsubmit {
  text-indent: -9999px;
  text-transform: capitalize;
  overflow: hidden;
  width: 21px;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #2e3c62;
  background-image: url('../i/search_icon.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
}
#section-top #searchform {
  float: right;
  width: 116px;
}
#section-top #searchform input[type=text] {
  width: 89px;
}
