.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
.address.line {
  display: block;
}
.list .sfhiv_service .related-groups,
.list .sfhiv_service_hours .related-groups,
.list .sfhiv_service .days,
.list .sfhiv_service_hours .days,
.list .sfhiv_service .category-list,
.list .sfhiv_service_hours .category-list {
  display: block;
  margin: 0px;
  padding: 0px;
}
.list .sfhiv_service .related-groups ul,
.list .sfhiv_service_hours .related-groups ul,
.list .sfhiv_service .days ul,
.list .sfhiv_service_hours .days ul,
.list .sfhiv_service .category-list ul,
.list .sfhiv_service_hours .category-list ul {
  margin: 0px;
  padding: 0px;
}
.list .sfhiv_service .related-groups li,
.list .sfhiv_service_hours .related-groups li,
.list .sfhiv_service .days li,
.list .sfhiv_service_hours .days li,
.list .sfhiv_service .category-list li,
.list .sfhiv_service_hours .category-list li {
  list-style-type: none;
  line-height: 1em;
}
.list .sfhiv_service .days,
.list .sfhiv_service_hours .days {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #FFF;
  background: #f09938;
  width: 130px;
  margin: 3.5px 0px;
  float: left;
}
.list .sfhiv_service .days ul,
.list .sfhiv_service_hours .days ul {
  margin: 0px;
  padding: 0px;
}
.list .sfhiv_service .days li,
.list .sfhiv_service_hours .days li {
  list-style-type: none;
  line-height: 1em;
}
.list .sfhiv_service .days li,
.list .sfhiv_service_hours .days li {
  margin: 3.5px 7px;
}
.list .sfhiv_service .time,
.list .sfhiv_service_hours .time {
  width: 130px;
  float: left;
}
.list .sfhiv_service .time span,
.list .sfhiv_service_hours .time span {
  display: block;
  font-weight: bold;
  margin: 3.5px 7px;
}
.list .sfhiv_service .time span .label,
.list .sfhiv_service_hours .time span .label {
  display: inline;
  padding: 0px;
  font-weight: normal;
  font-size: 12px;
}
.list .sfhiv_service .location,
.list .sfhiv_service_hours .location {
  clear: both;
}
.list .sfhiv_service .category-list,
.list .sfhiv_service_hours .category-list {
  margin: 3.5px 0px;
  padding: 0px;
  clear: both;
}
.list .sfhiv_service .category-list h3,
.list .sfhiv_service_hours .category-list h3 {
  font-weight: 300;
}
.list .sfhiv_service .category-list li,
.list .sfhiv_service_hours .category-list li {
  display: block;
  float: left;
  margin: 0px 7px 0px 0px;
  padding: 0px;
  list-style-type: none;
}
.list .sfhiv_service .related-groups h3,
.list .sfhiv_service_hours .related-groups h3 {
  font-weight: 300;
  text-align: right;
}
.list .sfhiv_service .group,
.list .sfhiv_service_hours .group {
  text-align: center;
}
.list .sfhiv_service .group img,
.list .sfhiv_service_hours .group img,
.list .sfhiv_service .group img.logo,
.list .sfhiv_service_hours .group img.logo {
  display: block;
  margin: 3.5px auto;
}
.list .sfhiv_service nav,
.list .sfhiv_service_hours nav {
  clear: both;
}
@media all and (min-width: 530px) {
  .list .sfhiv_service .column.left,
  .list .sfhiv_service_hour .column.left {
    width: 376px;
  }
  .list .sfhiv_service .column.right,
  .list .sfhiv_service_hour .column.right {
    width: 130px;
  }
  .list .sfhiv_service .location,
  .list .sfhiv_service_hour .location {
    clear: left;
  }
  .list .sfhiv_service_hour.list-item .column.left {
    width: 260px;
  }
  .list .sfhiv_service_hour.list-item .column.right {
    width: 246px;
    float: left;
  }
  .list .sfhiv_service_hour.list-item .location {
    clear: none;
  }
}
@media all and (min-width: 1100px) {
  .list .sfhiv_service_hour .column.left,
  .list .sfhiv_service_hour .column.left {
    width: 636px;
  }
  .list .sfhiv_service_hour .location,
  .list .sfhiv_service_hour .location {
    float: left;
    clear: none;
    width: 260px;
  }
  .list .sfhiv_service_hour .category-list,
  .list .sfhiv_service_hour .category-list {
    padding-left: 130px;
    clear: both;
    position: relative;
  }
  .list .sfhiv_service_hour .category-list h3,
  .list .sfhiv_service_hour .category-list h3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 123px;
    text-align: right;
  }
}
