@import "variables";
@import "mixins";

.list{
	.sfhiv_service{
		position:relative;
		.relationships{
			.menu_mix();
		}
	}	
}
@media all and (min-width: @size_medium) {
	.list,#main .list{
		.sfhiv_service,.sfhiv_service.list-item{
			padding-right:@block_width/2 + @space_size;
			.relationships{
				position:absolute;
				width:@block_width/2 - @space_size;
				top:0px;
				right:0px;
				li{
					display:block;
					border-bottom:@border_width @secondary_color solid;
					padding:@space_size 0px;
				}
			}
		}	
	}
}