@import "variables";
@import "mixins";

body{
	font-family:@main_font;
	font-size:@font_size;
	color:@text_color;
	background:#EEE url("../i/main_bg.gif") top left;
	margin:0px;
	padding:0px;
}

h1,h2,h3,h4{
	font-size:1em;
	color:@highlight_color;
	font-family:@title_font;
	font-weight:normal;
	margin:0px;
	padding:0px;
	a,a:visited,a:hover{
		color:@highlight_color;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
}
#main{
	h1{
		padding:@space_size*3 0px @space_size*2;
		font-size:@very_big_font_size;
		clear:both;
	}
	h2{
		padding:@space_size*2 0px @space_size;
		font-size:@big_font_size;
		clear:both;
	}
	h3{
		padding:@space_size 0px @space_size/2;
		font-size:@font_size;
		clear:both;
		font-weight:bold;
		color:darken(@highlight_color,10%);
	}
	h4{
		clear:both;
		font-size:@font_size;
		font-weight:bold;
		color:@text_color;
	}
}

p,li{
	margin:0px 0px @space_size;
	line-height:1.25em;
}

.sfseal{
	display:block;
	width:200px;
	height:200px;
	background-color:#FFF;
	background-image:url('../i/sf_seal_bw_200.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}

.divider{
	.divider_mix();
}

.clear{
	clear:both;
	width:100%;
	line-height:0px;
	height:0px;
}

a,a:visited{
	color:@link_color;
}

.assistive-text,.screen-reader-text{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	width:1px;
	height:1px;
	text-indent:3000px;
}

.menu{
	.menu_mix();
}

.attachments, ul.attachments{
	padding:0px;
	margin:@space_size 0px;
	li{
		list-style:none;
	}
	.attachment{
		padding-left:@space_size*2;
	}
}


#page{
	display:block;
	width:@block_width;
	margin:0px auto;
	padding:0px @space_size;
	background-color:#FFF;
	position:relative;
}
@media all and (min-width: @size_tablet) {
	#page{
		width:@block_width*2;
	}	
}
@media all and (min-width: @size_medium) {
	#page{
		width:@block_width*3;
		padding:0px @space_size*2;
	}
}
@media all and (min-width: @size_large) {
	#page{
		width:@block_width*4;
		padding:0px @space_size*4;
		background-image:url('../i/sf_seal_bg_large.jpg');
		background-repeat:no-repeat;
		background-position:185px 0px;
	}
}

#branding,#main,footer{
	.section;
}

#section-top{
	background-color:transparent;
	background-image:url("../i/background-orange.png");
	background-repeat:repeat;
	background-position:top left;
	.widget{
		display:block;
		padding:@space_size*2 0px 0px;
		border:0px;
	}
}
@media all and (min-width: @size_medium) {
	.js #section-top{
		background-color:transparent;
		background-image:none;
		display:none;
		position:absolute;
	}
}


#branding{
	.divider_mix();
	padding:0px 0px @space_size*4;
	background-position:left bottom;
	hgroup{
		background-color:transparent;
		background-image:url("../i/background-orange.png");
		background-repeat:repeat;
		background-position:top left;
		#site-title{
			display:block;
			position:relative;
			background-color:transparent;
			background-image:url("../i/site-title.png");
			background-repeat:no-repeat;
			background-position:bottom right;
			height:162px;
			overflow:hidden;
			a{
				width:100%;
				height:100%;
				text-indent:3000em;
				position:absolute;
				top:0px;
				left:0px;
			}
		}
		#site-description{
			display:none;
		}
	}
}
@media all and (min-width: @size_medium) {
	#section-top{
		margin:0px;
		padding:0px;
		border-bottom:0px;
		position:absolute;
		right:@space_size*2;
		top:0px;
		text-align:right;
	}
	#branding{
		hgroup{
			width:382px;
			float:left;
		}
	}
}
@media all and (min-width: @size_large) {
	#section-top{
		right:@space_size*4;
	}
}

#access{
	.section();
	.menu{
		.menu_mix();
		font-size:@big_font_size;
		padding:@space_size*2 0px;
		.menu-item{
			display:block;
			float:left;
			width:auto;
			padding:@space_size;
			.sub-menu{
				display:none;
			}
			color:@text_color;
			a,a:visited,a:hover{
				color:@text_color;
				text-decoration:none;
			}
			&.current-menu-item,&.current-page-ancestor{
				background-color:transparent;
				background-image:url("../i/background-orange.png");
				background-repeat:repeat;
				background-position:top left;
				color:#FFF;
				a,a:visited,a:hover{
					color:#FFF;
				}
			}
		}
	}
}
.list,#primary{
	display:block;
	width:auto;	
}
.list{
	.divider_mix();
	&#archive{
		background-image:none;
		padding-top:0px;
	}
}
#main .contact.list{
	background-image:none;
	padding-top:@space_size;
	border-top:@border_width @secondary_color solid;
	border-bottom:@border_width @secondary_color solid;
	margin:@space_size 0px;
}

#primary{
	margin:0px;
	padding:0px;
	header{
		padding-top:0px;
	}
	.entry-title{
		font-size:@biggest_font_size;
		font-weight:normal;
		color:#FFF;
		background:@text_color;
		display:block;
		padding:@space_size*4 @space_size @space_size;
	}
	.entry-content{
		padding:@space_size 0px;
		img,.wp-caption{
			&.aligncenter{
				display:block;
				width:auto;
				margin:0px auto @space_size;
				padding:@space_size @space_size*2 @space_size/2;
				border-top:@border_width @text_color solid;
				border-bottom:@border_width @text_color solid;
				text-align:center;
				img{
					display:block;
					border:0px;
					margin:@space_size/2 0px;
				}
			}
		}
	}
	.table_of_contents{
		.menu-item{
			font-size:@font_size;
			display:block;
			float:left;
			padding:@space_size @space_size @space_size;
		}
		clear:both;
		height:@font_size+@space_size*3;
		border-bottom:@border_width @secondary_color solid;
	}
	
}

.meta{
	display:block;
	clear:both;
	font-size:@small_font_size;
	color:@text_color;
	border-top:@border_width @secondary_color solid;
	background:#FFF;
	padding:@space_size @space_size*3;
}
@media all and (min-width: @size_tablet) {
	#primary,.list{
		width:@block_width*2;
	}
	#primary{
		.entry-title{
			width:@block_width;
		}
	}
}

@media all and (min-width: @size_medium) {
	#main{
		background-image:url('../i/main-back-medium.gif');
		background-repeat:repeat-y;
		background-position:top left;
	}
	#primary,.list,.filter{
		width:@block_width*2;
		float:right;
		clear:none;
	}
	#primary{
		#content{
			margin-left:@space_size*2;
		}
	}
	.list{
		width:@block_width*2 - @space_size*2;
		margin-left:@space_size*2;
	}
	.sidebar{
		display:block;
		width:@block_width;
		float:left;
		clear:left;
	}
	.page-template-full-width-page-php{
		#main{
			background-image:none;
		}
		#primary,.list{
			width:auto;
			float:none;
			clear:both;
			#content{
				margin-left:0px;
			}
		}
	}
}

@media all and (min-width: @size_large) {
	#primary{
		width:@block_width*3;
	}
	.list,.filter{
		width:@block_width*3 - @space_size*2;
	}
}


#main .list,#main #primary .list{
	.list-title{
	
	}
	.list-heading{
		padding:@space_size @space_size*2 @space_size;
		font-size:@very_big_font_size;
		color:@text_color;
		border-top:@secondary_color @border_width*3 solid;
	}
	.list-item{
		position:relative;
		border-top:@border_width @secondary_color solid;
		padding:0px 0px @space_size;
		.entry-title{
			font-size:@big_font_size;
			padding:@space_size 0px;
			background-color:transparent;
			width:auto;
		}
	}
}
@media all and (min-width: @size_medium) {
	
}

#main{
	.two-column,.footer.two-column,.three-column,.footer.three-column{
		.section();
		display:block;
		background-color:#FFF;
		.divider{
			.divider_mix();
		}
		article,.widget{
			width:@block_width;
			display:block;
			margin:0px;
			padding:@space_size*2 0px;
			border-bottom:1px @secondary_color solid;
			.entry-header,.entry-content,nav{
				margin:0px 7px;
			}
			.entry-header,.widgettitle{
				border-top:1px @text_color solid;
				border-bottom:1px @text_color solid;
				h1,h2,h3,h4{
					font-size:@big_font_size;
					padding:@space_size 0px;
				}
			}
			nav{
				.menu{
					a,a:visited,a:hover{
						text-decoration:none;
					}
					.children{
						padding-left:1em;
					}
					.menu-item{
						clear:both;
						.date{
							.date_mix();
						}
					}
				}
			}
		}
	}
	@media all and (min-width: @size_medium) {
		.two-column,.footer.two-column{
			background-image:url('../i/background-line.gif');
			background-repeat:repeat-y;
			background-position:@block_width*3/2 0;
			article,.widget{
				width:@block_width*3/2;
				float:left;
			}
		}
		.three-column,.footer.three-column{
			background-image:url('../i/splash-back-medium.gif');
			background-repeat:repeat-y;
			background-position:top left;
			article,.widget{
				width:@block_width;
				float:left;
			}
		}
	}
	@media all and (min-width: @size_large) {
		.two-column,.footer.two-column{
			background-position:@block_width*4/2 0;
			article,.widget{
				width:(@block_width*4)/2;
			}
		}
		.three-column,.footer.three-column{
			background-image:url('../i/splash-back-large.gif');
			article,.widget{
				width:(@block_width*4)/3;
			}
		}
	}
}


.footer{
	background:#FFF;
	.section;
	border-top:1px @secondary_color solid;
	padding:@space_size 0px;
	.menu{
		.menu_mix();
		text-align:center;
		.menu-item{
			display:block;
			a,a:visited{
				color:@text_color;
				text-decoration:none;
				&:hover{
					color:@highlight_color;
					text-decoration:underline;
				}
			}
			&.current-menu-item{
				a,a:visited,a:hover{
					color:@highlight_color;
				}
			}
		}
	}
}
@media all and (min-width: @size_medium) {
	.footer{
		.menu{
			text-align:left;
			height:@space_size*2;
			.menu-item{
				float:left;
				padding:0px @space_size;
				margin:0px;
			}
		}
	}
}

#main{
	.footer.three-column,.footer.two-column{
		font-size:0.9em;
	}
	.footer.three-column{
		.widget{
			width:@block_width - @space_size*2;
			padding-right:@space_size;
			padding-left:@space_size;
		}
		.widget_nav_menu{
			.menu{
				height:auto;
			}
			.menu-item{
				float:none;
				display:block;
				padding:0px @space_size;
				a{
					border-bottom:@border_width @secondary_color solid;
					color:@link_color;
					display:block;
					width:auto;
					padding:@space_size 0px @space_size/2;
				}
			}
		}
	}
	@media all and (min-width: @size_large) {
		.footer.three-column{
			.widget{
				width:(@block_width*4)/3 - @space_size*2;
			}
		}
	}
}

.filter{
	display:block;
	padding:@space_size 0px;
	border-top:@border_width @secondary_color solid;
}
