@import "variables";
@import "mixins";

body{
	font-family:@main_font;
	font-size:14px;
	color:@text_color;
	background:#EEE url("../i/main_bg.gif") top left;
	margin:0px;
	padding:0px;
}

h1,h2,h3,h4{
	font-size:1em;
	color:@highlight_color;
	font-family:@title_font;
	font-weight:normal;
	margin:0px;
	padding:0px;
	a,a:visited,a:hover{
		color:@highlight_color;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
}

.clear{
	clear:both;
}

a,a:visited{
	color:@link_color;
}

.assistive-text,.screen-reader-text{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	width:1px;
	height:1px;
	text-indent:3000px;
}

.menu{
	.menu_mix();
}



#page{
	display:block;
	width:@block_width;
	margin:0px auto;
	padding:0px @space_size;
	background-color:#FFF;
}
@media all and (min-width: @size_medium) {
	#page{
		width:@block_width*3;
		padding:0px @space_size*2;
	}
}
@media all and (min-width: @size_large) {
	#page{
		width:@block_width*4;
		padding:0px @space_size*4;
		background-image:url('../i/sf_seal_bg_large.jpg');
		background-repeat:no-repeat;
		background-position:185px 0px;
	}
}

#branding,#main,footer{
	.section;
}


#branding{
	.divider_mix();
	padding-bottom:27px;
	background-position:left bottom;
	#site-title{
		display:block;
		position:relative;
		background:transparent url("../i/site-title.png") no-repeat top left;
		width:auto;
		height:162px;
		overflow:hidden;
		a{
			width:100%;
			height:100%;
			text-indent:3000em;
			position:absolute;
			top:0px;
			left:0px;
		}
	}
	#site-description{
		color:@text_color;
		font-size:1.4em;
		font-weight:normal;
		padding:0.5em 0.2em;
	}
}
@media all and (min-width: @size_medium) {
	#branding{
		#site-title{
			width:382px;
			float:left;
		}
		#site-description{
			text-align:right;
			padding-top:70px;
		}
	}
}

#access{
	.section();
	.menu{
		.menu_mix();
		font-size:1.3em;
		padding:@space_size*2 0px;
		.menu-item{
			display:block;
			float:left;
			width:auto;
			padding:@space_size;
			.sub-menu{
				display:none;
			}
			color:@text_color;
			a,a:visited,a:hover{
				color:@text_color;
				text-decoration:none;
			}
			&.current-menu-item,&.current-page-ancestor{
				background-color:@highlight_color;
				color:#FFF;
				a,a:visited,a:hover{
					color:#FFF;
				}
			}
		}
	}
}
/*
#main{
	.divider_mix();
	padding-top:27px;
	background-position:0px 18px;
}
*/
.list,#primary{
	display:block;
	width:auto;	
}
.list{
	.divider_mix();
}
#primary{
	margin:0px;
	padding:0px;
	header{
		padding-top:0px;
	}
	.entry-title{
		font-size:1.8em;
		font-weight:normal;
		color:#FFF;
		background:@text_color;
		display:block;
		padding:@space_size*4 @space_size @space_size;
	}
}


@media all and (min-width: @size_medium) {
	#primary,.list{
		width:@block_width*2;
		float:right;
		clear:none;
	}
	#primary{
		#content{
			margin-left:@space_size*2;
		}
		.entry-title{
			width:@block_width;
		}
	}
	.sidebar{
		display:block;
		width:@block_width - @border_width;
		float:left;
		clear:left;
		border-right:@border_width solid @secondary_color;
	}
}

@media all and (min-width: @size_large) {
	#primary,.list{
		width:@block_width*3;
	}
}

#splash{
	.divider_mix();
	article{
		width:@block_width;
		float:left;
		display:block;
		margin:0px;
		padding:12px 0px;
		border-bottom:1px @secondary_color solid;
		border-right:1px @secondary_color solid;
		.entry-header,.entry-content,nav{
			margin:0px 7px;
		}
		.entry-header{
			border-top:1px @text_color solid;
			border-bottom:1px @text_color solid;
			h1{
				font-size:1.2em;
				padding:0.5em 0px;
			}
		}
		nav{
			.menu{
				a,a:visited,a:hover{
					text-decoration:none;
				}
				.children{
					padding-left:1em;
				}
				.menu-item{
					clear:both;
					.date{
						.date_mix();
					}
				}
			}
		}
	}
}
@media all and (min-width: @size_medium) {
	#splash{
		article{
			width:(@block_width)-1;
		}
	}
}
@media all and (min-width: @size_large) {
	#splash{
		article{
			width:((@block_width*4)/3)-1;
		}
	}
}

.footer{
	.section;
	border-top:1px @secondary_color solid;
	padding:@space_size 0px;
	.menu{
		.menu_mix();
		text-align:center;
		.menu-item{
			display:block;
			a{
				color:@text_color;
				text-decoration:none;
				&:hover{
					color:@highlight_color;
					text-decoration:underline;
				}
			}
		}
	}
}
@media all and (min-width: @size_medium) {
	.footer{
		.menu{
			text-align:left;
			height:@space_size*2;
			.menu-item{
				float:left;
				padding:0px @space_size;
				margin:0px;
			}
		}
	}
}

#mini_archive p{
	margin:0.5em 0px;
}


#mini_archive{
	.filters{
		.menu-item{
			float:left;
			display:block;
			width:auto;
			.filter{
				padding:0.5em;
				display:block;
				&.selected{
					background:@text_color;
					color:#FFF;
				}
			}
		}
	}
}


#mini_archive{
	.group{
		border-top:1px @secondary_color solid;
		padding:1em 0px;
	}
}

#meetings,#members{
	h2{
		padding-top:1.5em;
		clear:both;
		font-size:1.4em;
	}
}

