.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
body {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #2e3c62;
  background: #eeeeee url("../i/main_bg.gif") top left;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4 {
  font-size: 1em;
  color: #f09938;
  font-family: tahoma, verdana, sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: #f09938;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h1 a:visited:hover,
h2 a:visited:hover,
h3 a:visited:hover,
h4 a:visited:hover,
h1 a:hover:hover,
h2 a:hover:hover,
h3 a:hover:hover,
h4 a:hover:hover {
  text-decoration: underline;
}
#main h1 {
  padding: 21px 0px 14px;
  font-size: 24px;
  clear: both;
}
#main h2 {
  padding: 14px 0px 7px;
  font-size: 18px;
  clear: both;
}
#main h3 {
  padding: 7px 0px 3.5px;
  font-size: 14px;
  clear: both;
  font-weight: bold;
  color: #e48011;
}
#main h4 {
  clear: both;
  font-size: 14px;
  font-weight: bold;
  color: #2e3c62;
}
p,
li {
  margin: 0px 0px 7px;
  line-height: 1.25em;
}
.clear {
  clear: both;
  width: 100%;
  line-height: 0px;
  height: 0px;
}
a,
a:visited {
  color: #918bb3;
}
.assistive-text,
.screen-reader-text {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  text-indent: 3000px;
}
.menu {
  display: block;
  margin: 0px;
  padding: 0px;
}
.menu ul {
  margin: 0px;
  padding: 0px;
}
.menu li {
  list-style-type: none;
  line-height: 1em;
}
.attachments,
ul.attachments {
  padding: 0px;
  margin: 7px 0px;
}
.attachments li,
ul.attachments li {
  list-style: none;
}
.attachments .attachment,
ul.attachments .attachment {
  padding-left: 14px;
}
#page {
  display: block;
  width: 260px;
  margin: 0px auto;
  padding: 0px 7px;
  background-color: #FFF;
  position: relative;
}
@media all and (min-width: 530px) {
  #page {
    width: 520px;
  }
}
@media all and (min-width: 800px) {
  #page {
    width: 780px;
    padding: 0px 14px;
  }
}
@media all and (min-width: 1100px) {
  #page {
    width: 1040px;
    padding: 0px 28px;
    background-image: url('../i/sf_seal_bg_large.jpg');
    background-repeat: no-repeat;
    background-position: 185px 0px;
  }
}
#branding,
#main,
footer {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#section-top {
  margin: 7px;
  padding: 0px 0px 7px;
  border-bottom: 1px #bcbcbc solid;
}
#branding {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  padding: 0px 0px 28px;
  background-position: left bottom;
}
#branding #site-title {
  display: block;
  position: relative;
  background: transparent url("../i/site-title.png") no-repeat top left;
  width: auto;
  height: 162px;
  overflow: hidden;
}
#branding #site-title a {
  width: 100%;
  height: 100%;
  text-indent: 3000em;
  position: absolute;
  top: 0px;
  left: 0px;
}
#branding #site-description {
  display: none;
}
@media all and (min-width: 800px) {
  #section-top {
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;
    position: absolute;
    right: 14px;
    top: 0px;
    text-align: right;
  }
  #branding #site-title {
    width: 382px;
    float: left;
  }
}
@media all and (min-width: 1100px) {
  #section-top {
    right: 28px;
  }
}
#access {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#access .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  padding: 14px 0px;
}
#access .menu ul {
  margin: 0px;
  padding: 0px;
}
#access .menu li {
  list-style-type: none;
  line-height: 1em;
}
#access .menu .menu-item {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  color: #2e3c62;
}
#access .menu .menu-item .sub-menu {
  display: none;
}
#access .menu .menu-item a,
#access .menu .menu-item a:visited,
#access .menu .menu-item a:hover {
  color: #2e3c62;
  text-decoration: none;
}
#access .menu .menu-item.current-menu-item,
#access .menu .menu-item.current-page-ancestor {
  background-color: #f09938;
  color: #FFF;
}
#access .menu .menu-item.current-menu-item a,
#access .menu .menu-item.current-page-ancestor a,
#access .menu .menu-item.current-menu-item a:visited,
#access .menu .menu-item.current-page-ancestor a:visited,
#access .menu .menu-item.current-menu-item a:hover,
#access .menu .menu-item.current-page-ancestor a:hover {
  color: #FFF;
}
.list,
#primary {
  display: block;
  width: auto;
}
.list {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.list#archive {
  background-image: none;
  padding-top: 0px;
}
#main .contact.list {
  background-image: none;
  padding-top: 7px;
  border-top: 1px #bcbcbc solid;
  border-bottom: 1px #bcbcbc solid;
  margin: 7px 0px;
}
#primary {
  margin: 0px;
  padding: 0px;
}
#primary header {
  padding-top: 0px;
}
#primary .entry-title {
  font-size: 28px;
  font-weight: normal;
  color: #FFF;
  background: #2e3c62;
  display: block;
  padding: 28px 7px 7px;
}
#primary .entry-content {
  padding: 7px 0px;
}
#primary .entry-content img.aligncenter,
#primary .entry-content .wp-caption.aligncenter {
  display: block;
  width: auto;
  margin: 0px auto 7px;
  padding: 7px 14px 3.5px;
  border-top: 1px #2e3c62 solid;
  border-bottom: 1px #2e3c62 solid;
  text-align: center;
}
#primary .entry-content img.aligncenter img,
#primary .entry-content .wp-caption.aligncenter img {
  display: block;
  border: 0px;
  margin: 3.5px 0px;
}
#primary .table_of_contents {
  clear: both;
  height: 35px;
  border-bottom: 1px #bcbcbc solid;
}
#primary .table_of_contents .menu-item {
  font-size: 14px;
  display: block;
  float: left;
  padding: 7px 7px 7px;
}
.meta {
  display: block;
  clear: both;
  font-size: 10px;
  color: #2e3c62;
  border-top: 1px #bcbcbc solid;
  background: #FFF;
  padding: 7px 21px;
}
@media all and (min-width: 530px) {
  #primary,
  .list {
    width: 520px;
  }
  #primary .entry-title {
    width: 260px;
  }
}
@media all and (min-width: 800px) {
  #main {
    background-image: url('../i/main-back-medium.gif');
    background-repeat: repeat-y;
    background-position: top left;
  }
  #primary,
  .list {
    width: 520px;
    float: right;
    clear: none;
  }
  #primary #content {
    margin-left: 14px;
  }
  .list {
    width: 506px;
    margin-left: 14px;
  }
  .sidebar {
    display: block;
    width: 260px;
    float: left;
    clear: left;
  }
  .page-template-full-width-page-php #main {
    background-image: none;
  }
  .page-template-full-width-page-php #primary,
  .page-template-full-width-page-php .list {
    width: auto;
    float: none;
    clear: both;
  }
  .page-template-full-width-page-php #primary #content,
  .page-template-full-width-page-php .list #content {
    margin-left: 0px;
  }
}
@media all and (min-width: 1100px) {
  #primary {
    width: 780px;
  }
  .list {
    width: 766px;
  }
}
#main .list .list-heading,
#main #primary .list .list-heading {
  padding: 7px 14px 7px;
  font-size: 24px;
  color: #2e3c62;
  border-top: #bcbcbc 3px solid;
}
#main .list .list-item,
#main #primary .list .list-item {
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 0px 0px 7px;
}
#main .list .list-item .entry-title,
#main #primary .list .list-item .entry-title {
  font-size: 18px;
  padding: 7px 0px;
  background-color: transparent;
  width: auto;
}
@media all and (min-width: 800px) {
  
}
.three-column {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
  background-color: #FFF;
}
.three-column .divider {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.three-column article {
  width: 260px;
  display: block;
  margin: 0px;
  padding: 12px 0px;
  border-bottom: 1px #bcbcbc solid;
}
.three-column article .entry-header,
.three-column article .entry-content,
.three-column article nav {
  margin: 0px 7px;
}
.three-column article .entry-header {
  border-top: 1px #2e3c62 solid;
  border-bottom: 1px #2e3c62 solid;
}
.three-column article .entry-header h1 {
  font-size: 1.2em;
  padding: 0.5em 0px;
}
.three-column article nav .menu a,
.three-column article nav .menu a:visited,
.three-column article nav .menu a:hover {
  text-decoration: none;
}
.three-column article nav .menu .children {
  padding-left: 1em;
}
.three-column article nav .menu .menu-item {
  clear: both;
}
.three-column article nav .menu .menu-item .date.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.three-column article nav .menu .menu-item .date.date span {
  display: block;
}
.three-column article nav .menu .menu-item .date.date span span {
  display: inline;
}
@media all and (min-width: 800px) {
  .three-column {
    background-image: url('../i/splash-back-medium.gif');
    background-repeat: repeat-y;
    background-position: top left;
  }
  .three-column article {
    width: 260px;
    float: left;
  }
}
@media all and (min-width: 1100px) {
  .three-column {
    background-image: url('../i/splash-back-large.gif');
  }
  .three-column article {
    width: 346.6666666666667px;
  }
}
.footer {
  background: #FFF;
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 7px 0px;
}
.footer .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer .menu ul {
  margin: 0px;
  padding: 0px;
}
.footer .menu li {
  list-style-type: none;
  line-height: 1em;
}
.footer .menu .menu-item {
  display: block;
}
.footer .menu .menu-item a,
.footer .menu .menu-item a:visited {
  color: #2e3c62;
  text-decoration: none;
}
.footer .menu .menu-item a:hover,
.footer .menu .menu-item a:visited:hover {
  color: #f09938;
  text-decoration: underline;
}
.footer .menu .menu-item.current-menu-item a,
.footer .menu .menu-item.current-menu-item a:visited,
.footer .menu .menu-item.current-menu-item a:hover {
  color: #f09938;
}
@media all and (min-width: 800px) {
  .footer .menu {
    text-align: left;
    height: 14px;
  }
  .footer .menu .menu-item {
    float: left;
    padding: 0px 7px;
    margin: 0px;
  }
}
