.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
body {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #2e3c62;
  background: #eeeeee url("../i/main_bg.gif") top left;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4 {
  font-size: 1em;
  color: #f09938;
  font-family: 'Oswald', verdana, sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: #f09938;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h1 a:visited:hover,
h2 a:visited:hover,
h3 a:visited:hover,
h4 a:visited:hover,
h1 a:hover:hover,
h2 a:hover:hover,
h3 a:hover:hover,
h4 a:hover:hover {
  text-decoration: underline;
}
#main h1 {
  padding: 21px 0px 14px;
  font-size: 24px;
  clear: both;
}
#main h2 {
  padding: 14px 0px 7px;
  font-size: 18px;
  clear: both;
}
#main h3 {
  padding: 7px 0px 3.5px;
  font-size: 14px;
  clear: both;
  font-weight: bold;
  color: #e48011;
}
#main h4 {
  clear: both;
  font-size: 14px;
  font-weight: bold;
  color: #2e3c62;
}
p,
li {
  margin: 0px 0px 7px;
  line-height: 1.25em;
}
.js-only {
  display: none;
}
.js .js-only {
  display: block;
}
.sfseal,
.footer.sfseal {
  background-color: #FFF;
  background-image: url('../i/sf_seal_bw_200.jpg');
  background-repeat: no-repeat;
  background-position: center 14px;
  padding-top: 230px;
}
@media all and (min-width: 800px) {
  .sfseal,
  .footer.sfseal {
    background-position: 14px 14px;
    padding-top: 7px;
    padding-left: 230px;
    min-height: 230px;
  }
}
.divider {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.clear {
  clear: both;
  width: 100%;
  line-height: 0px;
  height: 0px;
}
a,
a:visited {
  color: #918bb3;
}
.assistive-text,
.screen-reader-text {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  text-indent: 3000px;
}
.menu {
  display: block;
  margin: 0px;
  padding: 0px;
}
.menu ul {
  margin: 0px;
  padding: 0px;
}
.menu li {
  list-style-type: none;
  line-height: 1em;
}
.attachments,
ul.attachments {
  padding: 0px;
  margin: 7px 0px;
}
.attachments li,
ul.attachments li {
  list-style: none;
}
.attachments .attachment,
ul.attachments .attachment {
  padding-left: 14px;
}
#page {
  display: block;
  width: 260px;
  margin: 0px auto;
  padding: 0px 7px;
  background-color: #FFF;
  position: relative;
}
@media all and (min-width: 530px) {
  #page {
    width: 520px;
  }
}
@media all and (min-width: 800px) {
  #page {
    width: 780px;
    padding: 0px 14px;
  }
}
@media all and (min-width: 1100px) {
  #page {
    width: 1040px;
    padding: 0px 28px;
    background-image: url('../i/sf_seal_bg_large.jpg');
    background-repeat: no-repeat;
    background-position: 185px 0px;
  }
}
#branding,
#main,
footer {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#section-top {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
}
#section-top .widget {
  display: block;
  padding: 14px 0px 0px;
  border: 0px;
  font-family: 'Oswald', verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
#section-top .widget.widget_search {
  font-family: arial, sans-serif;
  font-size: 14px;
}
#section-top .widget.widget_search #searchsubmit {
  text-indent: -33000px;
  overflow: hidden;
  width: 14px;
  height: 21px;
  border: 0px;
  background-color: transparent;
  background-image: url('../i/search_icon.jpg');
  background-repeat: no-repeat;
  background-position: top left;
}
@media all and (min-width: 800px) {
  .js #section-top {
    background-color: transparent;
    background-image: none;
    display: none;
    position: absolute;
  }
}
#branding {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  padding: 0px 0px 28px;
  background-position: left bottom;
}
#branding hgroup {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
}
#branding hgroup #site-title {
  display: block;
  position: relative;
  background-color: transparent;
  background-image: url("../i/site-title.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 162px;
  overflow: hidden;
}
#branding hgroup #site-title a {
  width: 100%;
  height: 100%;
  text-indent: 3000em;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-image: url('../i/home_icon.png');
  background-repeat: no-repeat;
  background-position: 28px 105px;
}
#branding hgroup #site-title a:hover {
  background-image: url('../i/home_icon_hover.png');
}
#branding hgroup #site-description {
  display: none;
}
@media all and (min-width: 800px) {
  #section-top {
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;
    position: absolute;
    right: 14px;
    top: 0px;
    z-index: 10;
    text-align: right;
  }
  #branding hgroup {
    width: 382px;
    float: left;
  }
}
@media all and (min-width: 1100px) {
  #section-top {
    right: 28px;
  }
}
#access {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#access .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 14px 0px;
}
#access .menu ul {
  margin: 0px;
  padding: 0px;
}
#access .menu li {
  list-style-type: none;
  line-height: 1em;
}
#access .menu .menu-item {
  display: block;
  float: left;
  width: auto;
  padding: 7px 14px;
  color: #2e3c62;
}
#access .menu .menu-item .sub-menu {
  display: none;
}
#access .menu .menu-item a,
#access .menu .menu-item a:visited,
#access .menu .menu-item a:hover {
  color: #2e3c62;
  text-decoration: none;
}
#access .menu .menu-item.current-menu-item,
#access .menu .menu-item.current-page-ancestor {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
  color: #FFF;
}
#access .menu .menu-item.current-menu-item a,
#access .menu .menu-item.current-page-ancestor a,
#access .menu .menu-item.current-menu-item a:visited,
#access .menu .menu-item.current-page-ancestor a:visited,
#access .menu .menu-item.current-menu-item a:hover,
#access .menu .menu-item.current-page-ancestor a:hover {
  color: #FFF;
}
@media all and (min-width: 800px) {
  #access {
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #access .menu {
    font-size: 24px;
  }
  #access .menu .menu-item {
    padding: 7px 28px;
  }
}
.list,
#primary {
  display: block;
  width: auto;
}
.list {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.list#archive {
  background-image: none;
  padding-top: 0px;
}
#main .contact.list {
  background-image: none;
  padding-top: 7px;
  border-top: 1px #bcbcbc solid;
  border-bottom: 1px #bcbcbc solid;
  margin: 7px 0px;
}
#primary {
  margin: 0px;
  padding: 0px;
}
#primary header {
  padding-top: 0px;
}
#primary .entry-title {
  font-size: 28px;
  font-weight: 300;
  color: #FFF;
  background: #2e3c62;
  display: block;
  padding: 28px 7px 7px;
}
#primary .entry-content {
  padding: 7px 0px;
  clear: both;
}
#primary .entry-content img.aligncenter,
#primary .entry-content .wp-caption.aligncenter {
  display: block;
  width: auto;
  margin: 0px auto 7px;
  padding: 7px 14px 3.5px;
  border-top: 1px #2e3c62 solid;
  border-bottom: 1px #2e3c62 solid;
  text-align: center;
}
#primary .entry-content img.aligncenter img,
#primary .entry-content .wp-caption.aligncenter img {
  display: block;
  border: 0px;
  margin: 3.5px 0px;
}
#primary .entry-meta.top {
  border-top: 1px #bcbcbc solid;
  border-bottom: 1px #bcbcbc solid;
  padding: 3.5px 0px;
  margin: 7px 0px;
}
#primary .table_of_contents {
  clear: both;
  height: 35px;
  border-bottom: 1px #bcbcbc solid;
}
#primary .table_of_contents .menu-item {
  font-size: 14px;
  display: block;
  float: left;
  padding: 7px 7px 7px;
}
.filters {
  position: relative;
  border-top: 1px #bcbcbc solid;
}
.filter,
form.filter {
  display: block;
}
.filter label,
form.filter label {
  display: block;
}
.filter label.radio,
form.filter label.radio {
  position: relative;
  padding: 3.5px 0px 3.5px 21px;
}
.filter label.radio input,
form.filter label.radio input,
.filter label.radio input.radio,
form.filter label.radio input.radio {
  position: absolute;
  top: 7px;
  left: 0px;
}
.filter fieldset,
form.filter fieldset {
  border: 0px;
}
.meta {
  display: block;
  clear: both;
  font-size: 12px;
  color: #2e3c62;
  border-top: 1px #bcbcbc solid;
  background: #FFF;
  padding: 7px 21px;
}
@media all and (min-width: 530px) {
  #primary,
  .list {
    width: 520px;
  }
  #primary .entry-title {
    width: 260px;
  }
}
@media all and (min-width: 800px) {
  #main {
    background-image: url('../i/main-back-medium.gif');
    background-repeat: repeat-y;
    background-position: top left;
  }
  #primary,
  .list,
  .filters {
    width: 520px;
    float: right;
    clear: none;
  }
  .filters .filter {
    float: left;
    width: 116px;
    padding: 7px;
    border-right: #bcbcbc 1px solid;
  }
  .filters.menu {
    width: 492px;
    padding: 7px 14px;
  }
  .filters.menu li {
    display: block;
    float: left;
    margin-right: 14px;
  }
  #primary #content {
    margin-left: 14px;
  }
  .list {
    width: 506px;
    margin-left: 14px;
  }
  .sidebar {
    display: block;
    width: 260px;
    float: left;
    clear: left;
  }
  .page-template-full-width-page-php #main {
    background-image: none;
  }
  .page-template-full-width-page-php #primary,
  .page-template-full-width-page-php .list {
    width: auto;
    float: none;
    clear: both;
  }
  .page-template-full-width-page-php #primary #content,
  .page-template-full-width-page-php .list #content {
    margin-left: 0px;
  }
}
@media all and (min-width: 1100px) {
  #primary {
    width: 780px;
  }
  .list,
  .filters {
    width: 766px;
  }
  .filters.menu {
    width: 766px;
    padding: 7px 0px;
  }
}
#main .list .list-heading,
#main #primary .list .list-heading {
  padding: 7px 14px 7px;
  font-size: 24px;
  color: #2e3c62;
  border-top: #bcbcbc 3px solid;
}
#main .list .list-item,
#main #primary .list .list-item {
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 0px 0px 7px;
}
#main .list .list-item .entry-title,
#main #primary .list .list-item .entry-title {
  font-size: 18px;
  padding: 7px 0px;
  background-color: transparent;
  width: auto;
}
@media all and (min-width: 800px) {
  
}
#main .two-column,
#main .footer.two-column,
#main .three-column,
#main .footer.three-column {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
  background-color: #FFF;
}
#main .two-column .divider,
#main .footer.two-column .divider,
#main .three-column .divider,
#main .footer.three-column .divider {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
#main .two-column article,
#main .footer.two-column article,
#main .three-column article,
#main .footer.three-column article,
#main .two-column .widget,
#main .footer.two-column .widget,
#main .three-column .widget,
#main .footer.three-column .widget {
  width: 260px;
  display: block;
  margin: 0px;
  padding: 14px 0px;
  border-bottom: 1px #bcbcbc solid;
}
#main .two-column article .entry-header,
#main .footer.two-column article .entry-header,
#main .three-column article .entry-header,
#main .footer.three-column article .entry-header,
#main .two-column .widget .entry-header,
#main .footer.two-column .widget .entry-header,
#main .three-column .widget .entry-header,
#main .footer.three-column .widget .entry-header,
#main .two-column article .entry-content,
#main .footer.two-column article .entry-content,
#main .three-column article .entry-content,
#main .footer.three-column article .entry-content,
#main .two-column .widget .entry-content,
#main .footer.two-column .widget .entry-content,
#main .three-column .widget .entry-content,
#main .footer.three-column .widget .entry-content,
#main .two-column article nav,
#main .footer.two-column article nav,
#main .three-column article nav,
#main .footer.three-column article nav,
#main .two-column .widget nav,
#main .footer.two-column .widget nav,
#main .three-column .widget nav,
#main .footer.three-column .widget nav {
  margin: 0px 7px;
}
#main .two-column article .entry-header,
#main .footer.two-column article .entry-header,
#main .three-column article .entry-header,
#main .footer.three-column article .entry-header,
#main .two-column .widget .entry-header,
#main .footer.two-column .widget .entry-header,
#main .three-column .widget .entry-header,
#main .footer.three-column .widget .entry-header,
#main .two-column article .widgettitle,
#main .footer.two-column article .widgettitle,
#main .three-column article .widgettitle,
#main .footer.three-column article .widgettitle,
#main .two-column .widget .widgettitle,
#main .footer.two-column .widget .widgettitle,
#main .three-column .widget .widgettitle,
#main .footer.three-column .widget .widgettitle {
  border-top: 1px #2e3c62 solid;
  border-bottom: 1px #2e3c62 solid;
}
#main .two-column article .entry-header h1,
#main .footer.two-column article .entry-header h1,
#main .three-column article .entry-header h1,
#main .footer.three-column article .entry-header h1,
#main .two-column .widget .entry-header h1,
#main .footer.two-column .widget .entry-header h1,
#main .three-column .widget .entry-header h1,
#main .footer.three-column .widget .entry-header h1,
#main .two-column article .widgettitle h1,
#main .footer.two-column article .widgettitle h1,
#main .three-column article .widgettitle h1,
#main .footer.three-column article .widgettitle h1,
#main .two-column .widget .widgettitle h1,
#main .footer.two-column .widget .widgettitle h1,
#main .three-column .widget .widgettitle h1,
#main .footer.three-column .widget .widgettitle h1,
#main .two-column article .entry-header h2,
#main .footer.two-column article .entry-header h2,
#main .three-column article .entry-header h2,
#main .footer.three-column article .entry-header h2,
#main .two-column .widget .entry-header h2,
#main .footer.two-column .widget .entry-header h2,
#main .three-column .widget .entry-header h2,
#main .footer.three-column .widget .entry-header h2,
#main .two-column article .widgettitle h2,
#main .footer.two-column article .widgettitle h2,
#main .three-column article .widgettitle h2,
#main .footer.three-column article .widgettitle h2,
#main .two-column .widget .widgettitle h2,
#main .footer.two-column .widget .widgettitle h2,
#main .three-column .widget .widgettitle h2,
#main .footer.three-column .widget .widgettitle h2,
#main .two-column article .entry-header h3,
#main .footer.two-column article .entry-header h3,
#main .three-column article .entry-header h3,
#main .footer.three-column article .entry-header h3,
#main .two-column .widget .entry-header h3,
#main .footer.two-column .widget .entry-header h3,
#main .three-column .widget .entry-header h3,
#main .footer.three-column .widget .entry-header h3,
#main .two-column article .widgettitle h3,
#main .footer.two-column article .widgettitle h3,
#main .three-column article .widgettitle h3,
#main .footer.three-column article .widgettitle h3,
#main .two-column .widget .widgettitle h3,
#main .footer.two-column .widget .widgettitle h3,
#main .three-column .widget .widgettitle h3,
#main .footer.three-column .widget .widgettitle h3,
#main .two-column article .entry-header h4,
#main .footer.two-column article .entry-header h4,
#main .three-column article .entry-header h4,
#main .footer.three-column article .entry-header h4,
#main .two-column .widget .entry-header h4,
#main .footer.two-column .widget .entry-header h4,
#main .three-column .widget .entry-header h4,
#main .footer.three-column .widget .entry-header h4,
#main .two-column article .widgettitle h4,
#main .footer.two-column article .widgettitle h4,
#main .three-column article .widgettitle h4,
#main .footer.three-column article .widgettitle h4,
#main .two-column .widget .widgettitle h4,
#main .footer.two-column .widget .widgettitle h4,
#main .three-column .widget .widgettitle h4,
#main .footer.three-column .widget .widgettitle h4 {
  font-size: 18px;
  padding: 7px 0px;
}
#main .two-column article nav .menu a,
#main .footer.two-column article nav .menu a,
#main .three-column article nav .menu a,
#main .footer.three-column article nav .menu a,
#main .two-column .widget nav .menu a,
#main .footer.two-column .widget nav .menu a,
#main .three-column .widget nav .menu a,
#main .footer.three-column .widget nav .menu a,
#main .two-column article nav .menu a:visited,
#main .footer.two-column article nav .menu a:visited,
#main .three-column article nav .menu a:visited,
#main .footer.three-column article nav .menu a:visited,
#main .two-column .widget nav .menu a:visited,
#main .footer.two-column .widget nav .menu a:visited,
#main .three-column .widget nav .menu a:visited,
#main .footer.three-column .widget nav .menu a:visited,
#main .two-column article nav .menu a:hover,
#main .footer.two-column article nav .menu a:hover,
#main .three-column article nav .menu a:hover,
#main .footer.three-column article nav .menu a:hover,
#main .two-column .widget nav .menu a:hover,
#main .footer.two-column .widget nav .menu a:hover,
#main .three-column .widget nav .menu a:hover,
#main .footer.three-column .widget nav .menu a:hover {
  text-decoration: none;
}
#main .two-column article nav .menu .children,
#main .footer.two-column article nav .menu .children,
#main .three-column article nav .menu .children,
#main .footer.three-column article nav .menu .children,
#main .two-column .widget nav .menu .children,
#main .footer.two-column .widget nav .menu .children,
#main .three-column .widget nav .menu .children,
#main .footer.three-column .widget nav .menu .children {
  padding-left: 1em;
}
#main .two-column article nav .menu .menu-item,
#main .footer.two-column article nav .menu .menu-item,
#main .three-column article nav .menu .menu-item,
#main .footer.three-column article nav .menu .menu-item,
#main .two-column .widget nav .menu .menu-item,
#main .footer.two-column .widget nav .menu .menu-item,
#main .three-column .widget nav .menu .menu-item,
#main .footer.three-column .widget nav .menu .menu-item {
  clear: both;
}
#main .two-column article nav .menu .menu-item .date.date,
#main .footer.two-column article nav .menu .menu-item .date.date,
#main .three-column article nav .menu .menu-item .date.date,
#main .footer.three-column article nav .menu .menu-item .date.date,
#main .two-column .widget nav .menu .menu-item .date.date,
#main .footer.two-column .widget nav .menu .menu-item .date.date,
#main .three-column .widget nav .menu .menu-item .date.date,
#main .footer.three-column .widget nav .menu .menu-item .date.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
#main .two-column article nav .menu .menu-item .date.date span,
#main .footer.two-column article nav .menu .menu-item .date.date span,
#main .three-column article nav .menu .menu-item .date.date span,
#main .footer.three-column article nav .menu .menu-item .date.date span,
#main .two-column .widget nav .menu .menu-item .date.date span,
#main .footer.two-column .widget nav .menu .menu-item .date.date span,
#main .three-column .widget nav .menu .menu-item .date.date span,
#main .footer.three-column .widget nav .menu .menu-item .date.date span {
  display: block;
}
#main .two-column article nav .menu .menu-item .date.date span span,
#main .footer.two-column article nav .menu .menu-item .date.date span span,
#main .three-column article nav .menu .menu-item .date.date span span,
#main .footer.three-column article nav .menu .menu-item .date.date span span,
#main .two-column .widget nav .menu .menu-item .date.date span span,
#main .footer.two-column .widget nav .menu .menu-item .date.date span span,
#main .three-column .widget nav .menu .menu-item .date.date span span,
#main .footer.three-column .widget nav .menu .menu-item .date.date span span {
  display: inline;
}
@media all and (min-width: 800px) {
  #main .two-column,
  #main .footer.two-column {
    background-image: url('../i/background-line.gif');
    background-repeat: repeat-y;
    background-position: 390px 0;
  }
  #main .two-column article,
  #main .footer.two-column article,
  #main .two-column .widget,
  #main .footer.two-column .widget {
    width: 390px;
    float: left;
  }
  #main .three-column,
  #main .footer.three-column {
    background-image: url('../i/splash-back-medium.gif');
    background-repeat: repeat-y;
    background-position: top left;
  }
  #main .three-column article,
  #main .footer.three-column article,
  #main .three-column .widget,
  #main .footer.three-column .widget {
    width: 260px;
    float: left;
  }
}
@media all and (min-width: 1100px) {
  #main .two-column,
  #main .footer.two-column {
    background-position: 520px 0;
  }
  #main .two-column article,
  #main .footer.two-column article,
  #main .two-column .widget,
  #main .footer.two-column .widget {
    width: 520px;
  }
  #main .three-column,
  #main .footer.three-column {
    background-image: url('../i/splash-back-large.gif');
  }
  #main .three-column article,
  #main .footer.three-column article,
  #main .three-column .widget,
  #main .footer.three-column .widget {
    width: 346.6666666666667px;
  }
}
footer,
footer.footer {
  background: #FFF;
  color: #bcbcbc;
  font-size: 12px;
}
.footer {
  background: #FFF;
  color: #bcbcbc;
  font-size: 14px;
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 7px 0px;
}
.footer .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer .menu ul {
  margin: 0px;
  padding: 0px;
}
.footer .menu li {
  list-style-type: none;
  line-height: 1em;
}
.footer .menu .menu-item {
  display: block;
}
.footer .menu .menu-item a,
.footer .menu .menu-item a:visited {
  color: #2e3c62;
  text-decoration: none;
}
.footer .menu .menu-item a:hover,
.footer .menu .menu-item a:visited:hover {
  color: #f09938;
  text-decoration: underline;
}
.footer .menu .menu-item.current-menu-item a,
.footer .menu .menu-item.current-menu-item a:visited,
.footer .menu .menu-item.current-menu-item a:hover {
  color: #f09938;
}
@media all and (min-width: 800px) {
  .footer .menu {
    text-align: left;
    height: 14px;
  }
  .footer .menu .menu-item {
    float: left;
    padding: 0px 7px;
    margin: 0px;
  }
}
#main .three-column,
#main .footer.three-column,
#main .footer.two-column {
  font-size: 0.9em;
}
#main .three-column .widget,
#main .footer.three-column .widget {
  width: 246px;
  padding-right: 7px;
  padding-left: 7px;
}
#main .three-column .widget_nav_menu .menu,
#main .footer.three-column .widget_nav_menu .menu {
  height: auto;
}
#main .three-column .widget_nav_menu .menu-item,
#main .footer.three-column .widget_nav_menu .menu-item {
  float: none;
  display: block;
  padding: 0px 7px;
}
#main .three-column .widget_nav_menu .menu-item a,
#main .footer.three-column .widget_nav_menu .menu-item a {
  border-bottom: 1px #bcbcbc solid;
  color: #918bb3;
  display: block;
  width: auto;
  padding: 7px 0px 3.5px;
}
@media all and (min-width: 1100px) {
  #main .three-column .widget,
  #main .footer.three-column .widget {
    width: 332.6666666666667px;
  }
}
