.date_mix.date {
  display: block;
  float: left;
  background-color: #f09938;
  color: #FFF;
  font-weight: normal;
  margin: 0px 0.5em 0.5em 0px;
  padding: 0.5em;
}
.date_mix.date span {
  display: block;
}
.date_mix.date span span {
  display: inline;
}
body {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #2e3c62;
  background: #eeeeee url("../i/main_bg.gif") top left;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4 {
  font-size: 1em;
  color: #f09938;
  font-family: 'Oswald', verdana, sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: #f09938;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h1 a:visited:hover,
h2 a:visited:hover,
h3 a:visited:hover,
h4 a:visited:hover,
h1 a:hover:hover,
h2 a:hover:hover,
h3 a:hover:hover,
h4 a:hover:hover {
  text-decoration: underline;
}
.entry-content h1 {
  padding: 21px 0px 14px;
  font-size: 24px;
  clear: both;
}
.entry-content h2 {
  padding: 14px 0px 7px;
  font-size: 18px;
  clear: both;
}
.entry-content h3 {
  padding: 7px 0px 3.5px;
  font-size: 14px;
  clear: both;
  font-weight: bold;
  color: #e48011;
}
.entry-content h4 {
  clear: both;
  font-size: 14px;
  font-weight: bold;
  color: #2e3c62;
}
p,
li {
  margin: 0px 0px 7px;
  line-height: 1.25em;
}
.js-only {
  display: none;
}
.js .js-only {
  display: block;
}
.sfseal,
.footer.sfseal {
  background-color: #FFF;
  background-image: url('../i/sf_seal_bw_200.jpg');
  background-repeat: no-repeat;
  background-position: center 14px;
  padding-top: 230px;
}
@media all and (min-width: 800px) {
  .sfseal,
  .footer.sfseal {
    background-position: 14px 14px;
    padding-top: 7px;
    padding-left: 230px;
    min-height: 230px;
  }
}
.divider {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.clear {
  clear: both;
  width: 100%;
  line-height: 0px;
  height: 0px;
}
a,
a:visited {
  color: #918bb3;
}
.assistive-text,
.screen-reader-text {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  text-indent: 3000px;
}
.menu {
  display: block;
  margin: 0px;
  padding: 0px;
}
.menu ul {
  margin: 0px;
  padding: 0px;
}
.menu li {
  list-style-type: none;
  line-height: 1em;
}
#section-top {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
}
#section-top .widget {
  display: block;
  padding: 7px 0px 0px;
  border: 0px;
  font-family: 'Oswald', verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
  clear: both;
}
#section-top .widget_nav_menu,
#section-top .widget_search {
  font-family: arial, sans-serif;
  font-size: 14px;
}
#section-top .widget_nav_menu .menu-item,
#section-top .widget_search .menu-item {
  float: right;
  margin-left: 7px;
}
@media all and (min-width: 530px) {
  .js #section-top {
    background-color: transparent;
    background-image: none;
    display: none;
    position: absolute;
  }
}
#branding {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-top: 9px;
  background-image: url("../i/divider.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  padding: 0px 0px 7px;
  background-position: left bottom;
}
#branding hgroup {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
}
#branding hgroup #site-title {
  display: block;
  position: relative;
  background-color: transparent;
  background-image: url("../i/site-title-small.png");
  background-repeat: no-repeat;
  background-position: 50px 100px;
  height: 162px;
  overflow: hidden;
}
#branding hgroup #site-title a {
  width: 100%;
  height: 100%;
  text-indent: 3000em;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-image: url('../i/home_icon.png');
  background-repeat: no-repeat;
  background-position: 5px 139px;
}
#branding hgroup #site-title a:hover {
  background-image: url('../i/home_icon_hover.png');
}
#branding hgroup #site-description {
  display: none;
}
@media all and (min-width: 530px) {
  #branding hgroup {
    width: 253px;
    float: left;
  }
  #section-top {
    width: 382px;
  }
}
@media all and (min-width: 800px) {
  #branding hgroup {
    width: 382px;
    float: left;
  }
  #branding hgroup #site-title {
    background-image: url("../i/site-title.png");
    background-position: 60px 10px;
  }
  #branding hgroup #site-title a {
    background-position: 24px 130px;
  }
  #section-top {
    width: 382px;
  }
}
@media all and (min-width: 800px) {
  #section-top {
    width: auto;
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;
    position: absolute;
    right: 14px;
    top: 0px;
    z-index: 10;
    text-align: right;
  }
}
@media all and (min-width: 1100px) {
  #section-top {
    right: 28px;
  }
}
#access {
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#access .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  padding: 7px 0px;
  clear: both;
}
#access .menu ul {
  margin: 0px;
  padding: 0px;
}
#access .menu li {
  list-style-type: none;
  line-height: 1em;
}
#access .menu .menu-item {
  display: block;
  float: left;
  width: auto;
  padding: 0px;
  font-family: 'Oswald', verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
  color: #2e3c62;
}
#access .menu .menu-item .sub-menu {
  display: none;
}
#access .menu .menu-item a,
#access .menu .menu-item a:visited,
#access .menu .menu-item a:hover {
  color: #2e3c62;
  text-decoration: none;
  display: block;
  margin: 7px 14px;
}
#access .menu .menu-item.current-menu-item,
#access .menu .menu-item.current-page-ancestor {
  background-color: transparent;
  background-image: url("../i/background-orange.png");
  background-repeat: repeat;
  background-position: top left;
  color: #FFF;
}
#access .menu .menu-item.current-menu-item a,
#access .menu .menu-item.current-page-ancestor a,
#access .menu .menu-item.current-menu-item a:visited,
#access .menu .menu-item.current-page-ancestor a:visited,
#access .menu .menu-item.current-menu-item a:hover,
#access .menu .menu-item.current-page-ancestor a:hover {
  color: #FFF;
}
@media all and (min-width: 800px) {
  #access {
    height: 70px;
  }
  #access .menu .menu-item {
    font-size: 24px;
  }
  #access .menu .menu-item a,
  #access .menu .menu-item a:visited,
  #access .menu .menu-item a:hover {
    margin: 7px 28px;
  }
}
.list,
#primary {
  display: block;
  width: auto;
}
#main .contact.list {
  background-image: none;
  padding-top: 7px;
  border-top: 1px #bcbcbc solid;
  border-bottom: 1px #bcbcbc solid;
  margin: 7px 0px;
}
#content {
  margin: 0px;
  padding: 0px;
}
#content header {
  padding-top: 0px;
}
#content h1.entry-title {
  font-size: 28px;
  font-weight: 300;
  color: #FFF;
  background: #2e3c62;
  display: block;
  margin: 0px;
  padding: 28px 7px 7px;
}
#content .entry-content {
  padding: 7px 0px;
  clear: both;
}
#content .entry-content img.aligncenter,
#content .entry-content .wp-caption.aligncenter {
  display: block;
  width: auto;
  margin: 0px auto 7px;
  padding: 7px 14px 3.5px;
  border-top: 1px #2e3c62 solid;
  border-bottom: 1px #2e3c62 solid;
  text-align: center;
}
#content .entry-content img.aligncenter img,
#content .entry-content .wp-caption.aligncenter img {
  display: block;
  border: 0px;
  margin: 3.5px 0px;
}
#content .entry-meta.top {
  border-top: 1px #bcbcbc solid;
  border-bottom: 1px #bcbcbc solid;
  padding: 3.5px 0px;
  margin: 7px 0px;
}
#content .table_of_contents {
  clear: both;
  height: 35px;
  border-bottom: 1px #bcbcbc solid;
}
#content .table_of_contents .menu-item {
  font-size: 14px;
  display: block;
  float: left;
  padding: 7px 7px 7px;
}
.filters {
  position: relative;
  border-top: 1px #bcbcbc solid;
}
.filter,
form.filter {
  display: block;
}
.filter label,
form.filter label {
  display: block;
}
.filter label.radio,
form.filter label.radio {
  position: relative;
  padding: 3.5px 0px 3.5px 21px;
}
.filter label.radio input,
form.filter label.radio input,
.filter label.radio input.radio,
form.filter label.radio input.radio {
  position: absolute;
  top: 7px;
  left: 0px;
}
.filter fieldset,
form.filter fieldset {
  border: 0px;
}
.filters.pagnate {
  padding: 3.5px 0px;
  margin: 0px 7px;
  text-align: right;
}
.meta {
  display: block;
  clear: both;
  font-size: 12px;
  color: #2e3c62;
  border-top: 1px #bcbcbc solid;
  background: #FFF;
  padding: 7px 21px;
}
@media all and (min-width: 530px) {
  #content,
  .list {
    width: 520px;
  }
  #content h1.entry-title {
    width: 260px;
  }
  #content .list {
    width: auto;
    float: none;
    clear: both;
    margin-left: 0px;
  }
}
@media all and (min-width: 800px) {
  #main {
    background-image: url('../i/main-back-medium.gif');
    background-repeat: repeat-y;
    background-position: top left;
  }
  #content,
  .list,
  .filters {
    width: 478px;
    margin-left: 14px;
    float: right;
    clear: none;
  }
  .filters .filter {
    float: left;
    padding: 7px 0px;
  }
  .filters.menu {
    padding: 7px 0px;
  }
  .filters.menu li {
    display: block;
    float: left;
    margin-right: 14px;
  }
  .sidebar {
    display: block;
    width: 260px;
    float: left;
    clear: left;
  }
  .page-template-full-width-page-php #main {
    background-image: none;
  }
  .page-template-full-width-page-php #primary,
  .page-template-full-width-page-php .list {
    width: auto;
    float: none;
    clear: both;
  }
  .page-template-full-width-page-php #primary #content,
  .page-template-full-width-page-php .list #content {
    margin-left: 0px;
  }
}
@media all and (min-width: 1100px) {
  #content,
  .list,
  .filters {
    width: 724px;
  }
}
footer,
footer.footer {
  background: #FFF;
  color: #bcbcbc;
  font-size: 12px;
}
.footer {
  background: #FFF;
  color: #bcbcbc;
  font-size: 14px;
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  border-top: 1px #bcbcbc solid;
  padding: 7px 0px;
}
.footer .menu {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer .menu ul {
  margin: 0px;
  padding: 0px;
}
.footer .menu li {
  list-style-type: none;
  line-height: 1em;
}
.footer .menu .menu-item {
  display: block;
}
.footer .menu .menu-item a,
.footer .menu .menu-item a:visited {
  color: #2e3c62;
  text-decoration: none;
}
.footer .menu .menu-item a:hover,
.footer .menu .menu-item a:visited:hover {
  color: #f09938;
  text-decoration: underline;
}
.footer .menu .menu-item.current-menu-item a,
.footer .menu .menu-item.current-menu-item a:visited,
.footer .menu .menu-item.current-menu-item a:hover {
  color: #f09938;
}
@media all and (min-width: 800px) {
  .footer .menu {
    text-align: left;
    height: 14px;
  }
  .footer .menu .menu-item {
    float: left;
    padding: 0px 7px;
    margin: 0px;
  }
}
